@import 'Var&Mixins';

/*Footer générique ohmyfood*/
#Generic__Footer{
    @include Display__Box($Alignitems: flex-start, $justifyC: normal, $flow: column);
    @include Size__Box();
    padding: 22px 25px;
    width: 100%;
    background-color: $FooterBCKColor;
    color: $BtnFontColor;
    
}
    .Container__List{
        @include Display__Box($Alignitems: unset);
        gap: 16px;
        &--logo{
            width: 139px;
            height: 27px;
        }
    }
    .List__Info{
        @include Display__Box($Alignitems:unset, $justifyC:unset);
            font-weight: $mainFontW500;
            list-style: none;
            gap:7px;
            padding: 0;
            margin:0;
            color: $BtnFontColor;
        &--suggest{
            display: flex;
            column-gap: 16px;
            color: $BtnFontColor;
        }
        &--partner{
            display: flex;
            column-gap: 10px;
            color: $BtnFontColor;
        }
        &--legal{
            font-weight: $mainFontW400;
            color: $BtnFontColor;
        }
        &--link{
            text-decoration: none;
            color: $BtnFontColor;
        }
    }
    @media (min-width : 1024px) {
        #Generic__Footer{
            @include Display__Box($flow: row-reverse, $justifyC: normal, $Alignitems: flex-end);
            min-height: 114px;       
            
        }
        .Container__List{
            @include Display__Box($flow: row-reverse, $justifyC: normal, $Alignitems: center);                    
            width: 100%;
            div:first-child{
                @include Display__Box($flow: row-reverse, $justifyC: normal, $Alignitems: normal);
                margin-right: 5%;       
            }
            div:last-child{
                @include Display__Box( $justifyC: flex-end, $Alignitems: normal);
                align-items: flex-end;                
                margin-right: 2%;
                width: 100%;
                .List__Info{
                    @include Display__Box($flow: row nowrap, $justifyC: flex-end, $Alignitems: center);
                    width: 100%;                     
                    justify-items: end;
                    column-gap: 1%;                                                                 
                        &--suggest{                
                            @include Display__Box($flow: row nowrap, $justifyC: normal);                                                           
                        }
                        &--partner{                
                            @include Display__Box($flow: row nowrap, $justifyC: normal);                                           
                            margin-right: 2%;
                        }
                        &--legal{
                            @include Display__Box($flow: row nowrap, $justifyC: normal);
                            
                        }                                                                                              
                }
            }                                            
        }
               
       
    }