@import 'Var&Mixins';

/*Footer générique ohmyfood*/
#Generic__Footer{
    @include Display__Box($Alignitems: flex-start, $justifyC: normal, $flow: column);
    @include Size__Box();
    padding: 22px 25px;
    width: 100%;
    background-color: $FooterBCKColor;
    color: $BtnFontColor;
    
}
    .Container__List{
        @include Display__Box($Alignitems: unset);
        gap: 16px;
        &--logo{
            width: 139px;
            height: 27px;
        }
    }
    .List__Info{
        @include Display__Box($Alignitems:unset, $justifyC:unset);
            font-weight: $mainFontW500;
            list-style: none;
            gap:7px;
            padding: 0;
            margin:0;
            color: $BtnFontColor;
        &--suggest{
            display: flex;
            column-gap: 16px;
            color: $BtnFontColor;
        }
        &--partner{
            display: flex;
            column-gap: 10px;
            color: $BtnFontColor;
        }
        &--legal{
            font-weight: $mainFontW400;
            color: $BtnFontColor;
        }
        &--link{
            text-decoration: none;
            color: $BtnFontColor;
        }
    }
    @media screen and (min-width : 1024px) and (max-width : 2500px){
        #Generic__Footer{
            display: grid;
            align-items: end;            
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "Container__List";  
            min-height: 114px;       
            
        }
        .Container__List{
            grid-area: Container__List;
            display: grid;
            grid-template-columns:repeat(8, 1fr);
            grid-template-rows: 1fr;                                  
            padding-right: 3%;
            gap: 3%;
            position: relative;
            &--logo{
                display: inline-grid;
                grid-area: 1/8/1/8;
                align-self: self-start;
                position: absolute;
                top: -45%;
            }                                                 
        }
        .List__Info{
            grid-area: 1/1/1/8;
            display: grid;
            grid-template-columns: repeat(4, 1.5fr) 0.5fr;
            grid-template-rows: 1fr;
            justify-items: end; 
            justify-self: end;          
                       
            &--suggest{
                display: inline-block;                
                grid-area: 1/1/1/3;
                justify-self: start;
                margin-left: -18%;                                 
            }
            &--partner{
                display: inline-block;
                grid-area: 1/2/1/4;
                justify-self: start;
                padding-left: 16%; 
                
            }           
            &--legal{
                display: inline-block;
                grid-area: 1/4/1/5;
                
            }
            &--contact{
                display: inline-block;
                justify-self: start;
                grid-area: 1/5/1/6;
            }
            &--contact{
                display: inline-block;
                justify-self: start;
                grid-area: 1/5/1/6;
            }

        }        
       
    }