/*Animations et transition*/
@import '../Var&Mixins.scss';

/*Heart Hover & Animation*/

.bi-heart{
    display: grid;
    grid-area: 2/7/3/8;
    @include HeartSize;            
    cursor: pointer;              
    color:black;    
    font-weight: 100;
    transform-origin: bottom center;                                
        &:hover::before{
            font-family: "bootstrap-icons";
            content:"\F415";
            background: $HeartGradient; 
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }                                                                                                
    }
    