/*Animations et transition*/
@import '../Var&Mixins.scss';

/*Heart Hover & Animation*/

.Heartbox{
    display: flex;
    position: relative;
    margin-top: 31px;         
    width: 31px;
    height: 31px;
    .bi-heart{
        @include HeartPosition;
        @include HeartSize;
        @include HeartStyle;
        transition: all 0.5s cubic-bezier(.7,.04,.71,.36);                                                                                 
        }
        &:hover > .bi-heart{
            opacity: 0;
        }
    &::after{
        @include HeartHovAft;
        font-size: 30px;
        width: 30px;
        height: 30px;
        opacity: 0;
        transition: all 0.5s cubic-bezier(.7,.04,.71,.36);            
    }                 
        &:hover::after{
            @include HeartHovAft;
            opacity: 1;           
        }      
}
    