/* Transitions et Animations pour les pages menus*/
@import '../SASS/Var&Mixins.scss';


/*HOVER Heart checkbox*/
.bi-heart{
    display: flex;       
    position: absolute;
    @include HeartSize;            
    cursor: pointer;              
    color:black;    
    font-weight: 100;   
    top: 51%;                                
    right: 32%;
        &:hover::before{
            font-family: "bootstrap-icons";
            content:"\F415";
            background: $HeartGradient; 
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;            
        }                                                                               
    }
    /*.bi::before{
        display: flex;
        @include HeartSize;
        position: absolute;        
        margin-left: 40px;            
        text-align: center;            
        cursor: pointer;              
        color:black;    
        font-weight: 100;
    }*/
      
    @media screen and (min-width:780.1px) and (max-width:1023.9px){
        .bi-heart{
            right: 20%;
        }

    }
              

