    /*Variables*/
        /*color*/
        $mainColor : #f3f3f3;
        $bodyColor : #f6f6f6;
        $geolocColor: #EAEAEA;
        $InfoBoxBCkcolor: #ffffff;
        $BtnFontColor: #FFFFFF;
        $BtnBckColor1:  #9356dc;
        $LightBtnBckColor1: lighten($BtnBckColor1, 5%);
        $BtnBckColor2:  #ff79da;
        $LightBtnBckColor2: lighten($BtnBckColor2, 1%);
        $NewCardColor: #99E2D0;
        $FooterBCKColor: #353535;
        $ArrowLcolor: #353535;
        $FontNewCardColor: #008766;
        $BlackFont: black;    
        $BtnGradient: linear-gradient(to top, $BtnBckColor1 40%, $BtnBckColor2);
        $HeartGradient: linear-gradient(to top, $BtnBckColor2 40%, $BtnBckColor1);
        $BtnGradientLighter: linear-gradient(to top, $LightBtnBckColor1 40%, $LightBtnBckColor2);
        $Shadow:0px 4px 10px 0px rgba(0,0,0,0.15);
        $ShadowHover:0px 4px 15px 0px rgba(0,0,0,0.35);
        
        /*Font*/
        $BootsIcon: "bootstrap-icons";
        $mainFont : 'Roboto', sans-serif;
        $brandFont : 'Shrikhand', sans-serif; 
        $mainFontW300: 300;
        $mainFontW400: 400;  
        $mainFontW500: 500;
        $mainFontW700: 700;
        $mainFontS14: 0.875rem;
        $mainFontS15: 0.9375rem;
        $mainFontS16: 1rem;
        $mainFontS17: 1.0625rem;
        $mainFontS18: 1.125rem;
        $mainFontS24: 1.5rem;
        $mainFontS28: 1.75rem;
        $mainFontS40: 2.5rem;
        $FontStyleItal: italic;
    
        /*Sizing Width Height Box-Sizing Margin*/
        $MargeAuto: auto;
        $main-Width:100%;
        $main-MinW: 320px;
        $main-MaxW: 100%;
        $main-Bsizing: border-box;
        $cutoutIMG: xywh(0% 23% 100% 85% round 15px 15px 0% 0%);

        /*rendre visible ou caché un élément*/
        
        $Advertise: hidden;                  
       
        /*Mixins générales*/
        @mixin Size__Box($MinW: $main-MinW, $MaxW: $main-MaxW, $Sizing:$main-Bsizing){
            min-width: $MinW;
            max-width: $MaxW;
            box-sizing: $Sizing;
        }
        @mixin Display__Box($display: flex, $flow: column nowrap, $justifyC: center, $Alignitems: center){
            display: $display;
            flex-flow: $flow;
            justify-content: $justifyC;
            align-items: $Alignitems;
        }
        @mixin mains__title($size: $mainFontS24, $weight: $mainFontW700){
            font-size: $size;
            font-weight: $weight;
        }
        @mixin mains__Btn--Rounded($weight: $mainFontW500, $FontColor: $BtnFontColor, $Radius:25px, $Padding: 13px 16px, $Gradient: $BtnGradient, $BtnShadow: $Shadow, $Border: none, $TransBtnH: $TransHover){
            font-weight: $weight;
            color: $BtnFontColor;
            border-radius: $Radius;
            background: $Gradient;        
            padding: $Padding;
            box-shadow: $BtnShadow;
            border: $Border;
            transition: $TransBtnH;
        }
        @mixin mains__Btn--RoundedLighter($weight: $mainFontW500, $FontColor: $BtnFontColor, $Radius:25px, $Padding: 13px 16px, $Gradient: $BtnGradientLighter, $BtnShadow: $ShadowHover, $Border: none){
            font-weight: $weight;
            color: $BtnFontColor;
            border-radius: $Radius;
            background: $Gradient;        
            padding: $Padding;
            box-shadow: $BtnShadow;
            border: $Border;
        }
      
        @mixin Menu__Title($alignS: self-start, $FontWeight: $mainFontW300, $FontSize: $mainFontS16){
            align-self: $alignS;
            font-weight: $FontWeight;
            font-size: $FontSize;
        }
        /*Mixins Navbar*/
        @mixin HeaderPosition($display:flex, $flow: column nowrap, $justifyC: center, $Alignitems:center){
            display: $display;
            flex-flow: $flow;
            justify-content: $justifyC;
            align-items: $Alignitems;
        }
        @mixin NavbarStyle($display: flex, $flow: column nowrap, $justifyC: center, $Alignitems: center, $B-Sizing: border-box){
            display: $display;
            flex-flow: $flow;
            justify-content: $justifyC;
            align-items: $Alignitems;            
            box-sizing: $B-Sizing;  
        }
        /*mixins Section HowItWorks*/
        @mixin HowItWorksBTN($display: flex, $flow: wrap, $position: relative, $alignC: center, $justifyC: center, $Lmargin: 5px, $Padding: 30px 10px 30px 0px, $Radius: 20px, $FontSize: 1rem, $Width: 100%, $FontWeight: $mainFontW500, $BCKGroundColor: $bodyColor, $Border: none, $BShadow: $Shadow) {
            @include Display-Step($display, $flow, $position, $alignC, $justifyC);
            margin: $Lmargin;
            padding: $Padding;
            width: $Width;
            font-weight: $FontWeight;
            background-color: $BCKGroundColor;
            border: $Border;
            border-radius: $Radius;
            box-shadow: $Shadow;
          }
        @mixin Display-Step($display:flex, $flow:wrap, $position:relative, $alignC: center, $justifyC: center){
            display: $display;
            flex-flow: $flow;
            position: $position;
            align-content: $alignC;
           justify-content: $justifyC; 
        }
        @mixin Position-Step($Zindex:2, $Postop:55px, $PosRight:10px, $WSize:24px, $HSize:24px, $Radius:50%){
            z-index: $Zindex;
            top:$Postop;
            right:$PosRight;                   
            width: $WSize;
            height: $HSize;
            border-radius: $Radius;   
        }
        @mixin Step-Style($BckColor: $BtnBckColor1, $Fontcolor: $BtnFontColor, $FSize: $mainFontS14, $FWeight: $mainFontW500){
            background-color: $BckColor;
            color: $Fontcolor;
            font-size: $FSize;
            font-weight: $FWeight;
        }
        /*mixins section cards restaurant*/
        @mixin BoxNew--position($display: flex, $justifyC: center, $Alignitems: center, $Zindex: 2){       
            display: $display;
            justify-content: $justifyC;
            align-items: $Alignitems;
            z-index: $Zindex;    
        }
        @mixin BoxNew--color($BCKGroundColor: $NewCardColor, $Color: $FontNewCardColor){
            background-color: $BCKGroundColor;
            color: $Color;
         }
         @mixin BoxNew--Size($Width: 90%, $Height: 45%, $Padding: 10px 0px, $Radius: 2px){
            width: $Width;
            height: $Height;
            padding: $Padding;
            border-radius: $Radius;
        } 
        @mixin BoxNew--Fontsize($FontSize: $mainFontS14, $FontWeight: $mainFontW500){
            font-size: $FontSize;
            font-weight: $FontWeight; 
        }
        /*Mixin page menu*/
        @mixin BckImgMenu($MinW: $main-MinW, $MaxW: $main-MaxW, $Width: 100%, $Height: 275px, $Obj-Fit: cover){
            min-width: $MinW;                
            max-width: $MaxW;
            width: $Width;
            height: $Height;
            object-fit: $Obj-Fit;
        }
        @mixin Restaurant__present($display:flex, $flow: row, $justifyC: space-between, $Alignitems: center, $PaddingR: 17px, $Width: 100%, $B-Sizing: border-box, $Radius: 40px 40px 0 0){
            display: $display;
            flex-flow: $flow;
            justify-content:$justifyC;
            align-items:$Alignitems;
            padding-right:$PaddingR;
            width:$Width;
            box-sizing:$B-Sizing;
            border-radius:$Radius;
        }

//-----------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------        

 /*Animations, Transition*/

 //Variables

 $TransHover: right 0.3s ease-in-out;


//Mixins

 @mixin HeartSize($Width:30px, $Height:30px, $FontS:30px){
     width: $Width;
     height: $Height;
     font-size: $FontS;
 }
 @mixin HeartPosition( $display: flex, $position: absolute, $topposition: 3%, $Rightposition: 10%){
     display: $display;
     position: $position;
     top: $topposition;
     right: $Rightposition;
 }
 @mixin HeartStyle($Fweight: 100, $Cursor: pointer, $Color: black){
     font-weight: $Fweight;
     cursor: $Cursor;
     color: $Color;            
 }
 @mixin HeartHovBef($Ffamily: $BootsIcon, $content:"\F415", $Background: $HeartGradient, $BCK-clip: text, $WebBCK-Clip: text, $WebTF-Clip: transparent){
     font-family: $Ffamily;
     content: $content;
     background: $Background; 
     background-clip: $BCK-clip;
     -webkit-background-clip: $WebBCK-Clip;
     -webkit-text-fill-color: $WebTF-Clip;
 }
 @mixin GreenCheckHoverDis($Flow: wrap, $position: absolute, $justifyC: center, $alignC: center, $TextAlign:center,  $right:0){
         position:$position;
         right: $right;                
         flex-flow: $Flow;
         justify-content: $justifyC;
         align-content: $alignC;                                                                                          
         text-align: $TextAlign;       
 }
 @mixin GreenCheckHoverStyl($Ffamily: $BootsIcon, $FontS: 20px, $content: "\F26A",  $BorderRadius: inherit, $color:white, $BCKcolor: $NewCardColor){
        font-family: $Ffamily;
        border-top-right-radius: $BorderRadius;
        border-bottom-right-radius: $BorderRadius;
        font-size: $FontS;
        content: $content;
        color: $color;
        background-color: $BCKcolor;
 }
 @mixin GreenCheckHoverSize($Mwidth: 59px, $Height: 69px, $Margin: auto){
         min-width: $Mwidth;
         height:$Height;
         margin: $Margin; 
 }
 @mixin textOverflow($Wspace: Nowrap, $TextOverF: ellipsis, $overF:hidden){
    white-space: $Wspace;
    text-overflow: $TextOverF;
    overflow: $overF;
    @mixin Dishe--Info-translation($Width: 70%, $Transmove: $TransHover){
        width: $Width;
        transition:$TransHover;
     }
 }
 