    /*Variables*/
        /*color*/
        $mainColor : #f3f3f3;
        $bodyColor : #f6f6f6;
        $geolocColor: #EAEAEA;
        $InfoBoxBCkcolor: #ffffff;
        $BtnFontColor: #FFFFFF;
        $BtnBckColor1:  #9356dc;
        $LightBtnBckColor1: lighten($BtnBckColor1, 5%);
        $BtnBckColor2:  #ff79da;
        $LightBtnBckColor2: lighten($BtnBckColor2, 1%);
        $NewCardColor: #99E2D0;
        $FooterBCKColor: #353535;
        $ArrowLcolor: #353535;
        $FontNewCardColor: #008766;
        $BlackFont: black;        
        $GreenGradient: linear-gradient(298deg, rgba(0,135,102,1) 0%, rgba(76,189,161,1) 69%, rgba(153,226,208,1) 100%);    
        $BtnGradient: linear-gradient(to top, $BtnBckColor1 40%, $BtnBckColor2);
        $HeartGradient: linear-gradient(to top, $BtnBckColor2 40%, $BtnBckColor1);
        $BtnGradientLighter: linear-gradient(to top, $LightBtnBckColor1 40%, $LightBtnBckColor2);
        $Shadow:0px 4px 10px 0px rgba(0,0,0,0.15);
        $ShadowHover:0px 4px 15px 0px rgba(0,0,0,0.35);
        $ShadowMenu_Btn: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
       
        
        /*Font*/
        $BootsIcon: "bootstrap-icons";
        $mainFont : 'Roboto', sans-serif;
        $brandFont : 'Shrikhand', sans-serif; 
        $mainFontW300: 300;
        $mainFontW400: 400;  
        $mainFontW500: 500;
        $mainFontW700: 700;
        $mainFontS13: 0.8125rem;
        $mainFontS14: 0.875rem;
        $mainFontS15: 0.9375rem;
        $mainFontS16: 1rem;
        $mainFontS17: 1.0625rem;
        $mainFontS18: 1.125rem;
        $mainFontS24: 1.5rem;
        $mainFontS28: 1.75rem;
        $mainFontS40: 2.5rem;
        $FontStyleItal: italic;
    
        /*Sizing Width Height Box-Sizing Margin*/
        $MargeAuto: auto;
        $main-Width:100%;
        $main-MinW: 320px;
        $main-MaxW: 100%;
        $main-Bsizing: border-box;
        $cutoutIMG: inset(25% 0% 0% 0% round 15px 15px);
       

        /*rendre visible ou caché un élément*/        
        $Advertise: hidden;
        
        /*Mixins générales*/
        @mixin Size__Box($MinW: $main-MinW, $MaxW: $main-MaxW, $Sizing:$main-Bsizing){
            min-width: $MinW;
            max-width: $MaxW;
            box-sizing: $Sizing;
        }
        @mixin Display__Box($display: flex, $flow: column nowrap, $justifyC: center, $Alignitems: center){
            display: $display;
            flex-flow: $flow;
            justify-content: $justifyC;
            align-items: $Alignitems;
        }
        @mixin mains__title($size: $mainFontS24, $weight: $mainFontW700){
            font-size: $size;
            font-weight: $weight;
        }
        @mixin mains__Btn--Rounded($FontW: $mainFontW500, $FontS: $mainFontS16, $FontColor: $BtnFontColor, $Radius:25px, $Padding: 13px 16px, $Gradient: $BtnGradient, $BtnShadow: $Shadow, $Border: none, $transition: all 0.5s ease-out){
            font-weight: $FontW;
            font-size: $FontS;
            color: $BtnFontColor;
            border-radius: $Radius;
            background: $Gradient;        
            padding: $Padding;
            box-shadow: $BtnShadow;
            border: $Border;
            transition: $transition;            
        }
        @mixin mains__Btn--RoundedLighter($opacity: 0.8, $Bshadow: $ShadowHover){
            opacity:$opacity;
            box-shadow: $Bshadow;
        }
      
        @mixin Menu__Title($alignS: self-start, $FontWeight: $mainFontW300, $FontSize: $mainFontS16){
            align-self: $alignS;
            font-weight: $FontWeight;
            font-size: $FontSize;
        }
        /*Mixins Navbar*/
        @mixin HeaderPosition($display:flex, $flow: column nowrap, $justifyC: center, $Alignitems:center){
            display: $display;
            flex-flow: $flow;
            justify-content: $justifyC;
            align-items: $Alignitems;
        }
        @mixin NavbarStyle($display: flex, $flow: column nowrap, $justifyC: center, $Alignitems: center, $B-Sizing: border-box){
            display: $display;
            flex-flow: $flow;
            justify-content: $justifyC;
            align-items: $Alignitems;            
            box-sizing: $B-Sizing;  
        }
        /*mixins Section HowItWorks*/
        @mixin HowItWorksBTN($display: flex, $flow: wrap, $position: relative, $alignC: center, $justifyC: center, $Lmargin: 5px, $Padding: 30px 10px 30px 0px, $Radius: 20px, $FontSize: 1rem, $Width: 100%, $FontWeight: $mainFontW500, $BCKGroundColor: $bodyColor, $Border: none, $BShadow: $Shadow) {
            @include Display-Step($display, $flow, $position, $alignC, $justifyC);
            margin: $Lmargin;
            padding: $Padding;
            width: $Width;
            font-weight: $FontWeight;
            background-color: $BCKGroundColor;
            border: $Border;
            border-radius: $Radius;
            box-shadow: $Shadow;
          }
        @mixin Display-Step($display:flex, $flow:wrap, $position:relative, $alignC: center, $justifyC: center){
            display: $display;
            flex-flow: $flow;
            position: $position;
            align-content: $alignC;
           justify-content: $justifyC; 
        }
        @mixin Position-Step($Zindex:2, $Postop:55px, $PosRight:10px, $WSize:24px, $HSize:24px, $Radius:50%){
            z-index: $Zindex;
            top:$Postop;
            right:$PosRight;                   
            width: $WSize;
            height: $HSize;
            border-radius: $Radius;   
        }
        @mixin Step-Style($BckColor: $BtnBckColor1, $Fontcolor: $BtnFontColor, $FSize: $mainFontS14, $FWeight: $mainFontW500){
            background-color: $BckColor;
            color: $Fontcolor;
            font-size: $FSize;
            font-weight: $FWeight;
        }
        /*mixins section cards restaurant*/
        @mixin BoxNew--position($display: flex, $justifyC: center, $Alignitems: center, $Zindex: 2){       
            display: $display;
            justify-content: $justifyC;
            align-items: $Alignitems;            
            z-index: $Zindex;    
        }
        @mixin BoxNew--color($BCKGroundColor: $NewCardColor, $Color: $FontNewCardColor){
            background-color: $BCKGroundColor;
            color: $Color;
         }
         @mixin BoxNew--Size($Width:90%, $Height:45%, $Padding: 10px 0px, $Radius: 2px){
            width: $Width;
            height: $Height;            
            padding: $Padding;
            border-radius: $Radius;
        } 
        @mixin BoxNew--Fontsize($FontSize: $mainFontS14, $FontWeight: $mainFontW500){
            font-size: $FontSize;
            font-weight: $FontWeight; 
        }
        /*Mixin page menu*/
        @mixin BckImgMenu($MinW: $main-MinW, $MaxW: $main-MaxW, $Width: 100%, $Height: 275px, $Obj-Fit: cover){
            min-width: $MinW;                
            max-width: $MaxW;
            width: $Width;
            height: $Height;
            object-fit: $Obj-Fit;
        }
        @mixin Restaurant__present($display:flex, $flow: row, $justifyC: space-between, $Alignitems: center, $PaddingR: 17px, $Width: 100%, $B-Sizing: border-box, $Radius: 40px 40px 0 0){
            display: $display;
            flex-flow: $flow;
            justify-content:$justifyC;
            align-items:$Alignitems;
            padding-right:$PaddingR;
            width:$Width;
            box-sizing:$B-Sizing;
            border-radius:$Radius;
        }
        @mixin MenuPrice($position: absolute, $Right: 3%, $Top: 38%, $AlignS: end, $FontW:$mainFontW700, $FontS: $mainFontS15, $padding: 13.5px 15px 13.5px){
            position:$position;
            right: $Right;
            top: $Top;                              
            align-self: $AlignS;
            font-weight: $FontW;
            font-size: $FontS;
            padding: $padding;
        }
        @mixin Menu__BTN($position:relative, $Width: 100%, $Height: 69px, $border: none, $padding: 0,  $bckg-color: $BtnFontColor, $Bradius: 15px, $Bshadow: $ShadowMenu_Btn){
            position: $position;        
            width: $Width;
            height: $Height; 
            border: $border;
            padding: $padding;
            background-color: $bckg-color;
            border-radius: $Bradius;        
            box-shadow: $Bshadow;
        }

//-----------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------        

 /*Animations, Transition*/

 //Variables

 $TransHover: right 0.4s ease-in-out;
 $TransHovGreenCheck: 0.6s cubic-bezier(.97,.1,.45,.7);
 $TransHovtextoverflow: 0.6s cubic-bezier(.97,.1,.45,.7) 0.3s;
 $HeartPulse: Heartbeat 0.3s ease-in-out 2 0.5s;
 $HeartPulseIndex: Heartbeat 0.3s ease-in-out 2 7s;  
 

//Mixins

 @mixin HeartSize($Width:30px, $Height:30px, $FontS:30px){
     width: $Width;
     height: $Height;
     font-size: $FontS;
 }
 @mixin HeartPosition( $display: flex, $position: absolute, $topposition: 3%, $Rightposition: 5%){
     display: $display;
     position: $position;
     top: $topposition;
     right: $Rightposition;
 }
 @mixin HeartStyle($Fweight: 100, $Cursor: pointer, $Color: black){
     font-weight: $Fweight;
     cursor: $Cursor;
     color: $Color;            
 }
 @mixin HeartHovAft($Ffamily: $BootsIcon, $content:"\F415", $Background: $HeartGradient, $BCK-clip: text, $WebBCK-Clip: text, $WebTF-Clip: transparent){
     font-family: $Ffamily;
     content: $content;
     background: $Background;     
     -webkit-background-clip: $WebBCK-Clip;
     background-clip: $BCK-clip;
     -webkit-text-fill-color: $WebTF-Clip;
 }
 @mixin GreenCheckHoverDis($Flow: wrap, $position: absolute, $justifyC: center, $alignC: center, $TextAlign:center,  $right:0){
         position:$position;
         right: $right;                
         flex-flow: $Flow;
         justify-content: $justifyC;
         align-content: $alignC;                                                                                          
         text-align: $TextAlign;       
 }
 @mixin GreenCheckHoverStyl($Ffamily: $BootsIcon, $FontS: 20px, $content: "\F26A",  $BorderRadius: inherit, $color:white, $BCKcolor: $NewCardColor){
        font-family: $Ffamily;
        border-top-right-radius: $BorderRadius;
        border-bottom-right-radius: $BorderRadius;
        font-size: $FontS;
        content: $content;
        color: $color;
        background-color: $BCKcolor;
 }
 @mixin GreenCheckHoverSize($Width: 59px, $Height: 69px, $Margin: auto){
         width: $Width;
         height:$Height;
         margin: $Margin; 
 }
 @mixin textOverflow($Wspace: Nowrap, $TextOverF: ellipsis, $overF:hidden){
    white-space: $Wspace;
    text-overflow: $TextOverF;
    overflow: $overF;    
 }
 @mixin Dishe--Info-translation($Width: 70%, $Transmove: $TransHover){
    width: $Width;
    transition:$TransHover;
 }
 @mixin RtoL_greencheck($transform:translateX(0), $transition: $TransHovGreenCheck, $opacity:1 ){
    transform: $transform;
    transition: $transition;
    opacity: $opacity; 
 }
 @mixin LtoR_greencheck($transform:translateX(0), $transition: $TransHovGreenCheck, $opacity:0 ){
    transform: $transform;
    transition: $transition;
    opacity: $opacity; 
 }
 @mixin LtoR_PriceTranslate($transform: translateX(0%), $transition: $TransHovGreenCheck){
    transform: $transform;
    transition: $TransHovGreenCheck;  
 }
 @mixin RtoL_PriceTranslate($transform: translateX(0%), $transition: $TransHovGreenCheck, $right: 6%){
    transform: $transform;
    transition: $TransHovGreenCheck;
    right: $right;  
 }
//Animations et Keyframes Accueil et menu
@keyframes Heartbeat{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
 }
 @keyframes Menu__arrival{
    0%{
        opacity: 0;
        transform-origin: 100% 0;       
    }
    50%{        
        opacity: 0.5;        
    }      
    100%{        
        opacity: 1;
        transform-origin: 100% 100%;
    }
 }
/*----------------------------------Loader's mixin & variables & Animations---------------------------------------------*/

/*---------------------Loader's variable--------------------*/
    //Content variable
        $Loaderbrand:"Ohmyfood";

    //Gradient variable
        $LoaderBCK-color: linear-gradient(0deg, rgba(22,21,23,1) 82%, rgba(217,195,242,1) 100%);
        $LoaderGreenGrad: linear-gradient(298deg, rgba(0,135,102,1) 0%, rgba(76,189,161,1) 69%, rgba(153,226,208,1) 100%);    
        $LoaderHeartGrad: linear-gradient(to top, $BtnBckColor2 40%, $BtnBckColor1);
        $LoaderGradient2: radial-gradient(circle, rgba(147,86,220,1) 0%, rgba(187,145,236,1) 54%, rgba(255,121,218,1) 100%);
        $LoaderGradient1: radial-gradient(circle, rgba(147,86,220,1) 0%, rgba(187,145,236,1) 54%, rgba(255,121,218,1) 100%);


/*---------------------Loader's mixin--------------------*/  

    @mixin LoaderBCKG($Display:grid, $AlignI: center, $JustifyI: center, $BackG:$LoaderBCK-color, $Height:100%, $Width:100%, $Position:absolute, $Zindex:3){
        display: $Display;    
        align-items: $AlignI;
        justify-items: $JustifyI;
        background: $BackG ;
        height: $Height;
        width: $Width;
        position: $Position;
        z-index: $Zindex;   
    }
    @mixin Loadercontain($Display:flex, $Fwrap:wrap, $Position:absolute, $JustifyC:center, $AlignI: center, $Top:15%){
        display: $Display;
        flex-wrap: $Fwrap;
        justify-content: $JustifyC;
        align-items: $AlignI;
        position: $Position;
        top: $Top;
                        
    }
    @mixin LoaderHeartContain($Display:flex, $Position:relative,  $Height:30px, $Width:30px){
        display: $Display;              
        position: $Position;
        height: $Height;
        width: $Width;        
    }
    @mixin HeartLoader($Display:flex, $Position:absolute, $JustifyC:center, $AlignI: center, $Width:30px, $Height:30px, $FontS:21px, $Top:-7%, $Right:0){
        display: $Display;
        position: $Position;        
        justify-content: $JustifyC;
        align-items: $AlignI;
        width: $Width;
        height: $Height;
        top: $Top;
        right: $Right;
        font-size: $FontS;        
    }
    @mixin HeartLoadStyle($Ffamily: $BootsIcon, $content:"\F417",$Background: $GreenGradient, $BCK-clip: text, $WebBCK-Clip: text, $WebTF-Clip: transparent){        
        font-family: $Ffamily;
        content: $content;
        background: $Background;         
        -webkit-background-clip: $WebBCK-Clip;
        background-clip: $BCK-clip;
        -webkit-text-fill-color: $WebTF-Clip;
    }    
    @mixin HeartLoadAft($Ffamily: $BootsIcon, $content:"\F415", $Background: $HeartGradient, $BCK-clip: text, $WebBCK-Clip: text, $WebTF-Clip: transparent){
        font-family: $Ffamily;
        content: $content;
        background: $Background;        
        -webkit-background-clip: $WebBCK-Clip;
        background-clip: $BCK-clip;
        -webkit-text-fill-color: $WebTF-Clip;
    }
    @mixin LoaderNameContain($Display: inherit, $position: relative, $JustifyC: center, $Width: 270px){
        display: $Display;
        justify-content: $JustifyC;
        width: $Width;
        position: $position;
    }
    @mixin LoaderBrand($Display: flex, $JustifyC: center, $Width: 100%, $Webtext-Stroke:0.5px $NewCardColor, $Ffamily: $brandFont, $content:$Loaderbrand, $FontS: 40px, $Background: $LoaderGradient1, $BCK-clip: text, $WebBCK-Clip: text, $WebTF-Clip: transparent){
        display: $Display;
        justify-content: $JustifyC;
        width: $Width; 
        font-family: $Ffamily;
        font-size: $FontS;
        content: $content;
        background: $Background;         
        -webkit-background-clip: $WebBCK-Clip;
        background-clip: $BCK-clip;
        -webkit-text-fill-color: $WebTF-Clip;
        -webkit-text-stroke: $Webtext-Stroke;           
    }
    @mixin LoaderUnderline($Display: inherit, $position: absolute, $Width: 90%, $Height: 5px, $Border: 2px solid $NewCardColor, $BorderR: 15px, $Bottom: -4%){
        display: $Display;
        position: $position;
        bottom: $Bottom;    
        width: $Width;
        height: $Height;
        border: $Border;
        border-radius: $BorderR;                      
    }
    @keyframes ChargeBarLeftIn {
        0% {
            opacity: 0;
            transform: translateX(-250px);
        }
    
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes ChargeBarFullIn {
        0% {
            opacity: 0;
            
        }
        25%{
            opacity: 0.25;
            animation-timing-function: cubic-bezier(.11,.54,.99,.21);
        }
        50%{
            opacity: 0.5;
            animation-timing-function: cubic-bezier(.2,.42,.95,.4);
        }
        75%{
            opacity: 0.75;
            animation-timing-function: cubic-bezier(.08,.98,.95,.19);
        } 
        100% {
            opacity: 1;
        }
    }
    @keyframes LeftHeartIn {
        0% {
            animation-timing-function: ease-in;
            opacity: 0;
            transform: translateX(-60%);
        }
    
        38% {
            animation-timing-function: ease-out;
            opacity: 1;
            transform: translateX(0);
        }
    
        55% {
            animation-timing-function: ease-in;
            transform: translateX(-30%);
        }
    
        72% {
            animation-timing-function: ease-out;
            transform: translateX(0);
        }
    
        81% {
            animation-timing-function: ease-in;
            transform: translateX(-10%);
        }
    
        90% {
            animation-timing-function: ease-out;
            transform: translateX(0);
        }
    
        95% {
            animation-timing-function: ease-in;
            transform: translateX(-3%);
        }
    
        100% {
            animation-timing-function: ease-out;
            transform: translateX(0);
        }
    }
    @keyframes RightHeartIn {
        0% {
            animation-timing-function: ease-in;
            opacity: 0;
            transform: translateX(60%);
        }
    
        38% {
            animation-timing-function: ease-out;
            opacity: 1;
            transform: translateX(0);
        }
    
        55% {
            animation-timing-function: ease-in;
            transform: translateX(30%);
        }
    
        72% {
            animation-timing-function: ease-out;
            transform: translateX(0);
        }
    
        81% {
            animation-timing-function: ease-in;
            transform: translateX(10%);
        }
    
        90% {
            animation-timing-function: ease-out;
            transform: translateX(0);
        }
    
        95% {
            animation-timing-function: ease-in;
            transform: translateX(3%);
        }
    
        100% {
            animation-timing-function: ease-out;
            transform: translateX(0);
        }
    }
    @keyframes GreenHeartIn {
        0% {
            animation-timing-function: ease-in;
            opacity: 0;
            transform: scale(7);
        }
    
        38% {
            animation-timing-function: ease-out;
            opacity: 1;
            transform: scale(1);
        }
    
        55% {
            animation-timing-function: ease-in;
            transform: scale(1.5);
        }
    
        72% {
            animation-timing-function: ease-out;
            transform: scale(1);
        }
    
        81% {
            animation-timing-function: ease-in;
            transform: scale(1.24);
        }
    
        89% {
            animation-timing-function: ease-out;
            transform: scale(1);
        }
    
        95% {
            animation-timing-function: ease-in;
            transform: scale(1.04);
        }
    
        100% {
            animation-timing-function: ease-out;
            transform: scale(1);
        }
    }
    @keyframes NameInCenter {
        0% {
            opacity: 0;
        }
        25%{
            opacity: 0.25;
            animation-timing-function: cubic-bezier(.11,.54,.99,.21);
        }
        50%{
            opacity: 0.5;
            animation-timing-function: cubic-bezier(.2,.42,.95,.4);
        }
        75%{
            opacity: 0.75;
            animation-timing-function: cubic-bezier(.08,.98,.95,.19);
        } 
    
        100% {
            opacity: 1;
        }
    }
    @keyframes LoaderOut {
        0% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }
        5% {
            animation-timing-function: ease-in;
            transform: translateY(5%);
        }
    
        15% {
            animation-timing-function: ease-out;
            opacity: 0.85;
        }
    
        25% {
            animation-timing-function: ease-in;
            transform: translateY(10%);
        }
    
        38% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }
    
        52% {
            animation-timing-function: ease-in;
            transform: translateY(25%);
        }
    
        70% {
            animation-timing-function: ease-out;
            transform: translateY(0);
        }
    
        85% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
            transform: translateY(100%);            
        }
    }
    @keyframes neon-blink {
        0%, 24.5%,  34.5%, 35.5%, 79%, 81%, 100% { opacity:1; }
        25.5%, 40%, 52%, 63%, 86%, 97% {opacity: 0.5;}
        17%, 25%, 35%, 44%, 80%, 90% { opacity:0; } /* coupures */
      }
      @keyframes HeartPulseLoad {
        0% {
            animation-timing-function: ease-out;
            transform: scale(1);
            transform-origin: center center;
        }
    
        10% {
            animation-timing-function: ease-in;
            transform: scale(1.5);
        }
    
        17% {
            animation-timing-function: ease-out;
            transform: scale(0.7);
        }
    
        33% {
            animation-timing-function: ease-in;
            transform: scale(1.5);
        }
    
        45% {
            animation-timing-function: ease-out;
            transform: scale(1);
        }
    }
    @keyframes LoaderIn {
        0% {
            opacity: 1;
            display: grid;
        }
    
        100% {
            opacity: 1;
            display: none;
            height: 0;
        }
    }
 
 

