@charset "UTF-8";
@media screen and (min-width: 780.1px) and (max-width: 1023.9px) {
  /*Importation des fichiers styles, variables et mixins*/
  /*Variables*/
  /*color*/
  /*Font*/
  /*Sizing Width Height Box-Sizing Margin*/
  /*rendre visible ou caché un élément*/
  /*Mixins générales*/
  /*Mixins Navbar*/
  /*mixins Section HowItWorks*/
  /*mixins section cards restaurant*/
  /*Mixin page menu*/
  /*Animations, Transition*/
  @keyframes Heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  /*Footer générique ohmyfood*/
  #Generic__Footer {
    display: flex;
    flex-flow: column;
    justify-content: normal;
    align-items: flex-start;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 22px 25px;
    width: 100%;
    background-color: #353535;
    color: #FFFFFF;
  }
  .Container__List {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: unset;
    gap: 16px;
  }
  .Container__List--logo {
    width: 139px;
    height: 27px;
  }
  .List__Info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: unset;
    align-items: unset;
    font-weight: 500;
    list-style: none;
    gap: 7px;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
  }
  .List__Info--suggest {
    display: flex;
    -moz-column-gap: 16px;
         column-gap: 16px;
    color: #FFFFFF;
  }
  .List__Info--partner {
    display: flex;
    -moz-column-gap: 10px;
         column-gap: 10px;
    color: #FFFFFF;
  }
  .List__Info--legal {
    font-weight: 400;
    color: #FFFFFF;
  }
  .List__Info--link {
    text-decoration: none;
    color: #FFFFFF;
  }
  /*Variables*/
  /*color*/
  /*Font*/
  /*Sizing Width Height Box-Sizing Margin*/
  /*rendre visible ou caché un élément*/
  /*Mixins générales*/
  /*Mixins Navbar*/
  /*mixins Section HowItWorks*/
  /*mixins section cards restaurant*/
  /*Mixin page menu*/
  /*Animations, Transition*/
  /*Général*/
  /*Main*/
  /*Header*/
  /* Explore__section*/
  /*How It Works Section*/
}
@media screen and (min-width: 780.1px) and (max-width: 1023.9px) and (min-width: 1024px) and (max-width: 2500px) {
  #Generic__Footer {
    display: grid;
    align-items: end;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Container__List";
    min-height: 114px;
  }
  .Container__List {
    grid-area: Container__List;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    padding-right: 3%;
    gap: 3%;
    position: relative;
  }
  .Container__List--logo {
    display: inline-grid;
    grid-area: 1/8/1/8;
    align-self: self-start;
    position: absolute;
    top: -45%;
  }
  .List__Info {
    grid-area: 1/1/1/8;
    display: grid;
    grid-template-columns: repeat(4, 1.5fr) 0.5fr;
    grid-template-rows: 1fr;
    justify-items: end;
    justify-self: end;
  }
  .List__Info--suggest {
    display: inline-block;
    grid-area: 1/1/1/3;
    justify-self: start;
    margin-left: -18%;
  }
  .List__Info--partner {
    display: inline-block;
    grid-area: 1/2/1/4;
    justify-self: start;
    padding-left: 16%;
  }
  .List__Info--legal {
    display: inline-block;
    grid-area: 1/4/1/5;
  }
  .List__Info--contact {
    display: inline-block;
    justify-self: start;
    grid-area: 1/5/1/6;
  }
  .List__Info--contact {
    display: inline-block;
    justify-self: start;
    grid-area: 1/5/1/6;
  }
}
@media screen and (min-width: 780.1px) and (max-width: 1023.9px) {
  @keyframes Heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  * {
    font-family: "Roboto", sans-serif;
  }
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 100%;
  }
  #Head__site {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-width: 780.1px;
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
  }
  .Navbar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }
  .Navbar__Title {
    padding: 30px 89px;
  }
  .Navbar__GeoLoc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #EAEAEA;
    gap: 17px;
    width: 100%;
    padding: 15.5px 0;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .Navbar__GeoLoc--sample {
    font-weight: 500;
    font-size: 1rem;
  }
  #Explore {
    display: flex;
    flex-flow: column nowrap;
    justify-content: normal;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #f6f6f6;
    padding: 35px 0 30px 0;
    width: 100%;
  }
  .C-Explore__Container {
    height: 100%;
  }
  .C-Explore__Site {
    display: flex;
    flex-flow: column nowrap;
    justify-content: normal;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    gap: 20px;
  }
  .C-Explore__Site--title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    max-width: 100%;
    margin: 0;
  }
  .C-Explore__Site--text {
    font-size: 1.125rem;
    font-weight: 300;
    min-width: 315px;
    margin: 0px;
    text-align: center;
  }
  .C-Explore__Site--Btn {
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
    border-radius: 25px;
    background: linear-gradient(to top, #9356dc 40%, #ff79da);
    padding: 13px 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    border: none;
    transition: all 0.5s ease-out;
  }
  .C-Explore__Site--Btn:hover {
    opacity: 0.8;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
  #HowItWorks {
    display: flex;
    flex-flow: column nowrap;
    justify-content: normal;
    align-items: normal;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 40px 20px 65px 0;
    width: 100%;
  }
  .C-HowItWorks {
    display: flex;
    flex-flow: column nowrap;
    justify-content: normal;
    align-items: normal;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    height: 100%;
  }
  .C-HowItWorks__Container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: normal;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 10.85% 0 12.5%;
  }
  .C-HowItWorks__Container--title {
    font-size: 1.5rem;
    font-weight: 700;
    align-self: start;
  }
  .C-HowItWorks__Step {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .C-HowItWorks__BlockStep {
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    flex-grow: 1;
    width: 60%;
  }
  .C-HowItWorks__BlockStep--NumberContainer {
    display: flex;
  }
  .C-HowItWorks__BlockStep--Nbr {
    display: flex;
    flex-flow: wrap;
    position: relative;
    align-content: center;
    justify-content: center;
    z-index: 2;
    top: 55px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #9356dc;
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 500;
  }
  .C-HowItWorks__BlockStep--Btn {
    display: flex;
    flex-flow: nowrap;
    position: relative;
    align-content: unset;
    justify-content: normal;
    margin: 5px;
    padding: 30px 10px 30px 0px;
    width: 100%;
    font-weight: 500;
    background-color: #f6f6f6;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    width: 95%;
  }
  .C-HowItWorks__BlockStep--Btn i {
    display: flex;
    margin: auto 15px auto 25px;
    color: #7e7e7e;
  }
  .C-HowItWorks__BlockStep--Btn .fa-store {
    color: #9356dc;
  }
  .C-HowItWorks__Container .C-HowItWorks__BlockStep:nth-of-type(1) {
    align-self: start;
  }
  .C-HowItWorks__Container .C-HowItWorks__BlockStep:nth-of-type(2) {
    align-self: center;
  }
  .C-HowItWorks__Container .C-HowItWorks__BlockStep:nth-of-type(3) {
    align-self: end;
  }
  #Main__Article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Cards__Container";
    background-color: #f6f6f6;
    width: 100%;
    min-height: 668px;
  }
  .Cards__Container {
    grid-area: Cards__Container;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr;
    grid-template-areas: ". Cards__Container--title Cards__Container--title Cards__Container--title Cards__Container--title" " . link1 . link2 ." ". . . . ." ". link3 . link4 ." ". . . . .";
    height: 82%;
    width: 75%;
    box-sizing: border-box;
    position: relative;
    justify-items: center;
    justify-self: center;
  }
  .Cards__Container--title {
    grid-area: Cards__Container--title;
    font-size: 1.5rem;
    font-weight: 700;
    align-self: center;
    justify-self: start;
    position: absolute;
    left: -11%;
  }
  .Restaurant__link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr;
    border-radius: 15px;
    text-decoration: none;
    height: 251px;
    width: 160%;
    max-width: 490px;
    box-sizing: border-box;
  }
  .Restaurant__link:nth-of-type(1) {
    grid-area: link1;
    position: absolute;
    top: -35%;
    left: -35%;
  }
  .Restaurant__link:nth-of-type(2) {
    grid-area: link2;
    position: absolute;
    top: -35%;
    right: -62%;
  }
  .Restaurant__link:nth-of-type(3) {
    grid-area: link3;
    position: absolute;
    left: -35%;
  }
  .Restaurant__link:nth-of-type(4) {
    grid-area: link4;
    position: absolute;
    right: -62%;
  }
  .Card__Box {
    display: grid;
    grid-area: 1/1/4/4;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border-radius: 15px;
    position: relative;
  }
  .Card__Box--IMG {
    grid-area: 1/1/8/11;
    -webkit-clip-path: xywh(0% 23% 100% 85% round 15px 15px 0% 0%);
            clip-path: xywh(0% 23% 100% 85% round 15px 15px 0% 0%);
    box-sizing: border-box;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    max-height: 231px;
  }
  .Card__Box--new {
    grid-area: 4/8/5/11;
    background-color: #99E2D0;
    color: #008766;
    width: 90%;
    height: 45%;
    padding: 8% 0;
    border-radius: 2px;
    font-size: 0.875rem;
    font-weight: 500;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    align-content: center;
    top: -90%;
  }
  .Information__Box {
    display: grid;
    grid-area: 10/1/11/11;
    grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    background-color: #ffffff;
    border-radius: 0 0 15px 15px;
    color: black;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    max-height: 77px;
    padding-right: 5%;
    top: -187%;
  }
  .Information__Box .Heartbox {
    display: grid;
    grid-area: 2/7/3/8;
    position: relative;
    margin-top: 10px;
    width: 31px;
    height: 31px;
    animation: Heartbeat 0.3s ease-in-out 2 0.5s;
  }
  .Information__Box .Heartbox .bi-heart {
    display: flex;
    position: absolute;
    top: 3%;
    right: 5%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
    color: black;
    transition: all 0.5s cubic-bezier(0.7, 0.04, 0.71, 0.36);
  }
  .Information__Box .Heartbox:hover > .bi-heart {
    opacity: 0;
  }
  .Information__Box .Heartbox::after {
    font-family: "bootstrap-icons";
    content: "\f415";
    background: linear-gradient(to top, #ff79da 40%, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.7, 0.04, 0.71, 0.36);
  }
  .Information__Box .Heartbox:hover::after {
    font-family: "bootstrap-icons";
    content: "\f415";
    background: linear-gradient(to top, #ff79da 40%, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    animation: Heartbeat 0.3s ease-in-out 2 0.5s;
  }
  .Description__text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: 2/1/3/8;
    gap: 5px;
    padding-left: 4%;
  }
  .Description__text--name {
    grid-area: 1/1/1/2;
    margin: 0;
    font-size: 1.125rem;
    font-weight: 700;
  }
  .Description__text--district {
    grid-area: 2/1/3/2;
    margin: 0;
    font-size: 1.0625rem;
    font-weight: 300;
  }
  .Cards__Container .Restaurant__link:nth-child(4) .Card__Box--new:first-child {
    visibility: hidden;
  }
  .Cards__Container .Restaurant__link:nth-child(5) .Card__Box--IMG {
    min-height: 180px;
  }
  .Cards__Container .Restaurant__link:nth-child(5) .Card__Box--new:first-child {
    visibility: hidden;
  }
}/*# sourceMappingURL=Accueil-Tablette.css.map */