@media screen and (min-width:780.1px) and (max-width:1023.9px){                                            
 /*Importation des fichiers styles, variables et mixins*/

 @import '../Footer';
 @import '../Var&Mixins.scss';

 

 /*Général*/
 *{
     font-family: $mainFont;                
  }
 body{
     width: 100%; 
     margin: 0;
     padding: 0;
     position: relative;    
    }
               
     
     /*Main*/
     main{
         @include Display__Box();
         @include Size__Box();
         background-color: $BtnFontColor;
         width: 100%;            
         }

/*Header*/            
#Head__site{
    @include HeaderPosition($flow: row wrap);            
    @include Size__Box($MinW: 780.1px);                
    width: $main-Width;
    z-index: 2;
    }
.Navbar{
    @include NavbarStyle();                
    width: $main-Width;
    }                    
    .Navbar__Title{
        padding: 30px 89px;
        }        
    .Navbar__GeoLoc{
        @include NavbarStyle($flow: row wrap);                
        background-color: $geolocColor;
        gap: 17px;
        width: 100%;
        padding: 15.5px 0;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
        &--sample{
            font-weight: $mainFontW500;
            font-size: $mainFontS16;
            }           
        }        

     /* Explore__section*/
     #Explore{
         @include Display__Box($justifyC: normal);
         @include Size__Box();
         background-color: $bodyColor;
         padding: 35px 0 30px 0;
         width: $main-Width;
         }                       
         .C-Explore__Container{
             height: 100%;
             }
             .C-Explore__Site{
                 @include Display__Box($justifyC: normal);
                 @include Size__Box();
                 gap:20px;                   
                 &--title{
                     @include mains__title($size:$mainFontS40);                    
                     text-align: center;
                     max-width: 100%;
                     margin: 0;
                     }
                 &--text{
                     font-size: $mainFontS18;
                     font-weight: $mainFontW300;
                     min-width: 315px;
                     margin: 0px;
                     text-align: center;
                     }
                 &--Btn{
                     @include mains__Btn--Rounded;                    
                    
                     &:hover{
                        @include mains__Btn--RoundedLighter();
                        }                                                                   
                     }            
                 }        
     /*How It Works Section*/
     #HowItWorks{
         @include Display__Box($justifyC: normal, $Alignitems:normal);
         @include Size__Box();
         padding: 40px 20px 65px 0;
         width: 100%;
         }        
             .C-HowItWorks{
                 @include Display__Box($justifyC: normal, $Alignitems:normal);
                 @include Size__Box();                    
                 height: 100%;
                 }                         
                 .C-HowItWorks__Container{
                     @include Display__Box($Alignitems:normal);
                     @include Size__Box($Sizing:unset);
                     padding: 0 10.85% 0 12.5%;                                                    
                     &--title{
                         @include mains__title();
                         align-self: start;                            
                     }                                                           
                     } 
                 .C-HowItWorks__Step{
                     display: flex;
                     flex-direction: column;
                     gap: 24px;                                
                     }                              
                 .C-HowItWorks__BlockStep{
                     display: flex;
                     flex-flow: wrap;
                     align-content: flex-start;
                     flex-grow: 1;
                     width: 60%;                            
                     &--NumberContainer{
                         display: flex;                            
                         }                
                     &--Nbr{
                         @include Display-Step();                   
                         @include Position-Step();
                         @include Step-Style();                          
                         }                               
                     &--Btn{ 
                         @include HowItWorksBTN($justifyC:normal, $alignC:unset, $flow: nowrap);                                                                               
                         font-size: $mainFontS16;
                         width: 95%;                                
                         }
                     &--Btn i{ 
                         display: flex;                                                                                                   
                         margin: auto 15px auto 25px;
                         color: #7e7e7e;                                                                    
                         }
                     &--Btn .fa-store{
                         color: $BtnBckColor1;
                         }
                     }
                     .C-HowItWorks__Container .C-HowItWorks__BlockStep:nth-of-type(1){
                        align-self: start;
                     }
                     .C-HowItWorks__Container .C-HowItWorks__BlockStep:nth-of-type(2){
                        align-self: center;
                     }
                     .C-HowItWorks__Container .C-HowItWorks__BlockStep:nth-of-type(3){
                        align-self: end;
                     }

                     #Main__Article{
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr;
                        grid-template-areas: "Cards__Container";                               
                        background-color: $bodyColor;
                        width: $main-Width;
                        min-height: 668px;
                        }                  
                        .Cards__Container{
                        grid-area: Cards__Container;
                        display: grid;
                        grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr; 
                        grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr;
                        grid-template-areas: 
                            ". Cards__Container--title Cards__Container--title Cards__Container--title Cards__Container--title"
                            " . link1 . link2 ."
                            ". . . . ."
                            ". link3 . link4 ."
                            ". . . . .";                            
                        height: 82%;
                        width: 75%;                                                                                                                   
                        position: relative;
                        justify-items: center;
                        justify-self: center;                               
                        &--title {
                            grid-area: Cards__Container--title;                                                                       
                            font-size: $mainFontS24;
                            font-weight: $mainFontW700;
                            align-self: center;
                            justify-self: start;                                                            
                            position: absolute; 
                            left: -11%;                                                                                                                     
                            }
                        }
                    .Restaurant__link{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr); 
                        grid-template-rows: 0.5fr 1fr 0.5fr;                                                  
                        border-radius: 15px;                
                        text-decoration: none;                                                              
                        height: 251px;
                        width: 160%;
                        max-width: 490px;                                       
                        }                          
                    .Restaurant__link:nth-of-type(1){
                        grid-area: link1;                
                        position: absolute;
                        top: -35%;
                        left: -35%;
                        }
                    .Restaurant__link:nth-of-type(2){
                        grid-area: link2;                
                        position: absolute;
                        top: -35%;
                        right: -62%;
                                                                                                                           
                        }          
                    .Restaurant__link:nth-of-type(3){
                        grid-area: link3;
                        position: absolute;
                        left: -35%;                                                                                                                                                   
                        }          
                    .Restaurant__link:nth-of-type(4){
                        grid-area: link4;               
                        position: absolute;
                        right: -62%;              
                                                                                                                                                
                        }                                      
                    .Card__Box{
                        display: grid;
                        grid-area: 1/1/4/4;                                                                              
                        grid-template-columns: repeat(10, 1fr);
                        grid-template-rows: repeat(10, 1fr);                                                  
                        border-radius: 15px;
                        position: relative;                                        
                        &--IMG{
                            grid-area: 1/1/8/11;
                            clip-path: $cutoutIMG;                            
                            object-fit: cover;
                            width: 100%;
                            max-height: 231px;                                                            
                            }
                        &--new{                    
                            grid-area: 4/8/5/11;
                            @include BoxNew--color;
                            @include BoxNew--Size($Padding: 8% 0);
                            @include BoxNew--Fontsize;
                            @include BoxNew--position($display: grid);
                            position: absolute;
                            align-content: center;
                            top: -90%;                            
                            }
                         
                        }                                            
                    .Information__Box{
                            display: grid;
                            grid-area: 10/1/11/11;
                            grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr; 
                            grid-template-rows: 0.5fr 1fr 0.5fr;                                        
                            background-color: $InfoBoxBCkcolor;
                            border-radius: 0 0 15px 15px;
                            color: $BlackFont;
                            position: absolute;
                            width: 100%;
                            box-sizing: border-box;
                            max-height: 77px;
                            padding-right: 5%;
                            top: -187%;
                            .Heartbox{
                                display: grid;
                                grid-area: 2/7/3/8;
                                position: relative;
                                margin-top: 10px;         
                                width: 31px;
                                height: 31px;
                                animation:$HeartPulseIndex;
                                .bi-heart{
                                    @include HeartPosition;
                                    @include HeartSize;
                                    @include HeartStyle;
                                    transition: all 0.5s cubic-bezier(.7,.04,.71,.36);                                                                                 
                                    }
                                        &:hover > .bi-heart{
                                            opacity: 0;
                                        }
                                &::after{
                                    @include HeartHovAft;
                                    font-size: 30px;
                                    width: 30px;
                                    height: 30px;
                                    opacity: 0;
                                    transition: all 0.5s cubic-bezier(.7,.04,.71,.36);            
                                    }                 
                                    &:hover::after{
                                        @include HeartHovAft;
                                        opacity: 1;
                                        animation: $HeartPulse;           
                                    }      
                            }                                                                                                                                                                                                                                                                       
                        }                                                                                                                                                                                                                                                                                                                                                                                         
                    .Description__text{
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr 1fr;
                        grid-area: 2/1/3/8;                
                        gap: 5px;
                        padding-left: 4%;                    
                        &--name{
                            grid-area: 1/1/1/2;
                            margin: 0;
                            font-size: $mainFontS18;
                            font-weight: $mainFontW700;
                            }
                        &--district{
                            grid-area: 2/1/3/2;
                            margin: 0;
                            font-size: $mainFontS17;
                            font-weight: $mainFontW300;
                            }
                        }                                                                           
                    .Cards__Container .Restaurant__link:nth-child(4) .Card__Box--new:first-child {
                        visibility: $Advertise;
                        }
                    .Cards__Container .Restaurant__link:nth-child(5) .Card__Box--IMG{
                        min-height: 180px;
                        }            
                    .Cards__Container .Restaurant__link:nth-child(5) .Card__Box--new:first-child {
                        visibility: $Advertise;
                        }
}                                         



                                                                   
     