@media  (min-width : 1024px){

    /*Importation des fichiers styles, variables et mixins*/

    @import '../Footer';
    @import '../Var&Mixins.scss';
    @import '../Loader.scss';
    

    /*Général*/
    *{
        font-family: $mainFont;
        margin: 0;
        padding: 0;               
     }
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 92% 8%;
        grid-auto-rows: 1fr;
        justify-items: center;
        margin: auto;
        grid-auto-flow: row;
        grid-template-areas:
            "main"
            "Generic__Footer";
            position: relative;            
    }               
        /*Main*/
        main{
            grid-area: main;
            display: grid;
            max-width: 1440px;
            width: 100%;            
            grid-template-columns: 1fr;
            grid-template-rows: 11% 18% 17% 54%;                        
            grid-auto-flow: row;
            grid-template-areas:"Head__site" 
                                "Explore"
                                "HowItWorks"
                                "Main__Article";              
            }
             /*Header*/
             #Head__site{
            grid-area: Head__site;            
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;                                  
            grid-template-areas:"Navbar";
            min-height: 11%;
            width: $MWidth__ID--elements;           
            }
            .Navbar{
                grid-area: Navbar;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(2, 1fr);
                width: $main-Width;
                grid-auto-flow: row;  
                position: relative;
            }                          
            .Navbar__Title{
                display: grid;
                grid-area: 1/1/2/6;                               
                align-self: center;
                justify-self: center;
                position: absolute;
                                                                        
                & img{                    
                    min-width: 200px;                  
                }                                             
                }        
            .Navbar__GeoLoc{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-area: 2/1/2/6;                
                background-color: $geolocColor;              
                padding: 15.5px 0;
                justify-items: center;
                align-items: center;
                position: relative;                                                                           
                &--sample{
                    font-weight: $mainFontW500;
                    font-size: $mainFontS16;
                    grid-area: 1/3/1/4;                                    
                    }
                    & i{
                    grid-area: 1/3/1/4;
                    position: absolute;
                    left: 10%;
                    justify-self: flex-start;
                    }           
                }        
        /* Explore__section*/
        #Explore{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr ;            
            grid-auto-flow: row;
            grid-template-areas:"C-Explore__Site";            
            grid-area: Explore;
            width: $MWidth__ID--elements;
            min-height: 239px;
            background-color: $bodyColor;
            padding-top: 2%;
            justify-items: center;
            }                                   
            .C-Explore__Site{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows:  33% 33% 50px;
                width: 100%;
                justify-items: center;                              
                grid-area: C-Explore__Site;                  
                    &--title{
                        grid-area: 1/1/2/8;
                        @include mains__title($size:$mainFontS40);                    
                        text-align: center;
                        max-width: 100%;
                        margin: 0;
                        }
                    &--text{
                        grid-area: 2/1/3/8;
                        font-size: $mainFontS18;
                        font-weight: $mainFontW300;
                        min-width: 315px;
                        margin: 0px;
                        text-align: center;
                        }
                    &--Btn{
                        grid-area: 3/3/4/3;
                        width: 218px;
                        min-width: 65%;
                        justify-self: center; 
                        @include mains__Btn--Rounded;                                                                     
                            &:hover{
                            @include mains__Btn--RoundedLighter();
                            }                                                                   
                        }                    
                    }                                              
        /*How It Works Section*/
        #HowItWorks{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr ;           
            grid-auto-flow: row;
            grid-template-areas:"C-HowItWorks__Container";            
            grid-area: HowItWorks;
            padding: 40px 0 65px 0;           
            min-height: 229px;
            width: $MWidth__ID--elements;
            }       
                                         
                    .C-HowItWorks__Container{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: 0.5fr 1fr 0.5fr ;                                                                              
                        grid-area: C-HowItWorks__Container;                        
                        margin: 0 auto;
                        width: 90%;
                        max-width: 1080px;
                        justify-items: center;                                                    
                        &--title{
                            display: grid;
                            justify-self: start;                            
                            grid-area: 1/1/2/4;
                            @include mains__title();                                                        
                        }                                                           
                        } 
                    .C-HowItWorks__Step{
                        grid-area: 2/1/3/4;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr) ;
                        grid-template-rows: 0.5fr;                        
                        grid-auto-flow: row;
                        grid-template-areas:"Step1 Step2 Step3";
                        column-gap: 4%;
                        width: 100%;
                        max-width: 1080px;
                                                        
                        }                              
                    .C-HowItWorks__BlockStep{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: 1fr;
                        grid-template-areas:"Btn Btn Btn";
                        position: relative;
                        width: 100%;
                        max-width: 335px;
                        align-items: center;                                                                           
                        &--NumberContainer{
                            grid-area: NumberContainer;
                            position: absolute;                            
                            width: 25px;                            
                            height: 25px;
                            z-index: 2;
                            left: -5%;
                            
                            }                
                        &--Nbr{
                            @include Display-Step($position: static);                   
                            @include Position-Step($Zindex:0, $Postop:0, $PosRight: 0);
                            @include Step-Style();                          
                            }                               
                        &--Btn{
                            grid-area: Btn; 
                            @include HowItWorksBTN($justifyC:normal, $alignC:normal, $flow: nowrap);                                                                               
                            height: 73px;
                            max-width: 322px;
                            font-size: $mainFontS16;
                            align-items: center;                                                           
                            }
                        &--Btn i{ 
                            display: flex;                                                                                                   
                            margin: auto 15px auto 25px;
                            color: #7e7e7e;                                                                    
                            }
                        &--Btn .fa-store{
                            color: $BtnBckColor1;
                            }
                        }
                    .C-HowItWorks__BlockStep:nth-of-type(1){
                        grid-area: Step1;
                    }
                    .C-HowItWorks__BlockStep:nth-of-type(2){
                        grid-area: Step2;
                    }
                    .C-HowItWorks__BlockStep:nth-of-type(3){
                        grid-area: Step3;
                    }
        /*Main-Article, restaurant lien et carte de présentation*/
            #Main__Article{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-template-areas: "Cards__Container";                               
                background-color: $bodyColor;
                width: $main-Width;
                min-height: 668px;
                justify-items: center;                
                }                  
                .Cards__Container{
                grid-area: Cards__Container;
                display: grid;
                grid-template-columns: repeat(12, 1fr); 
                grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr;                                                        
                height: 100%;
                width: 90%;
                max-width: 1080px;                                                                                                           
                position: relative;                                              
                &--title {
                    grid-area: 1/1/2/3;                                                                       
                    font-size: $mainFontS24;
                    font-weight: $mainFontW700;                                                                                
                    align-self: center; 
                                                                                                                                         
                    }
                }
            .Restaurant__link{
                display: grid;
                grid-template-columns: repeat(3, 1fr); 
                grid-template-rows: 0.5fr 1fr 0.5fr;                                                  
                border-radius: 15px;                
                text-decoration: none;                                                              
                height: 251px;
                min-width: 351px;
                max-width: 490px;
                width: 100%;
                position: absolute;                
                                               
                }                          
            .Restaurant__link:nth-of-type(1){
                grid-area: 2/1/4/6;
                bottom: 40%;               
                               
                }
            .Restaurant__link:nth-of-type(2){
                grid-area: 2/8/4/13;                
                bottom: 40%;                
                                                                                                                                        
                }          
            .Restaurant__link:nth-of-type(3){
                grid-area:  3/1/5/6;
                bottom: 2%;
                                                                                                                                                                  
                }          
            .Restaurant__link:nth-of-type(4){
                grid-area:  3/8/5/13;               
                bottom: 2%;
                                             
                                                                                                                                        
                }                                      
            .Card__Box{
                display: grid;
                grid-area: 1/1/4/4;                                                                              
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(10, 1fr);                                                  
                border-radius: 15px;
                position: relative;                                        
                &--IMG{
                    grid-area: 1/1/7/11;
                    clip-path: $cutoutIMG;
                    box-sizing: border-box;
                    object-fit: cover;
                    width: 100%;
                    max-height: 231px;                                                            
                    }
                &--new{                    
                    grid-area: 5/9/7/11;
                    @include BoxNew--color;
                    @include BoxNew--Size($Padding: 4px 0);
                    @include BoxNew--Fontsize;
                    @include BoxNew--position($display:grid);
                    align-content: center;                    
                    position: absolute;                    
                    top: -28%;                                        
                    }
                 
                }                                            
            .Information__Box{
                    display: grid;
                    grid-area: 10/1/11/11;
                    grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr; 
                    grid-template-rows: 0.5fr 1fr 0.5fr;                                        
                    background-color: $InfoBoxBCkcolor;
                    border-radius: 0 0 15px 15px;
                    color: $BlackFont;
                    position: absolute;
                    width: 100%;
                    box-sizing: border-box;
                    max-height: 77px;
                    padding-right: 5%;
                    .Heartbox{
                        display: grid;
                        grid-area: 2/7/3/9;
                        position: relative;
                        margin-top: 10px;         
                        width: 31px;
                        height: 31px;
                        animation:$HeartPulseIndex;
                        .bi-heart{
                            @include HeartPosition;
                            @include HeartSize;
                            @include HeartStyle;
                            transition: all 0.5s cubic-bezier(.7,.04,.71,.36);                                                                                 
                            }
                                &:hover > .bi-heart{
                                    opacity: 0;
                                }
                        &::after{
                            @include HeartHovAft;
                            font-size: 30px;
                            width: 30px;
                            height: 30px;
                            opacity: 0;
                            transition: all 0.5s cubic-bezier(.7,.04,.71,.36);            
                            }                 
                            &:hover::after{
                                @include HeartHovAft;
                                opacity: 1;
                                animation: $HeartPulse;           
                            }      
                    }                                               
            }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
            .Description__text{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                grid-area: 2/1/3/8;                
                gap: 5px;
                padding-left: 4%;                    
                &--name{
                    grid-area: 1/1/1/2;
                    margin: 0;
                    font-size: $mainFontS18;
                    font-weight: $mainFontW700;
                    }
                &--district{
                    grid-area: 2/1/3/2;
                    margin: 0;
                    font-size: $mainFontS17;
                    font-weight: $mainFontW300;
                    }
                }                                                                           
            .Cards__Container .Restaurant__link:nth-child(4) .Card__Box--new:first-child {
                visibility: $Advertise;
                }            
            .Cards__Container .Restaurant__link:nth-child(5) .Card__Box--new:first-child {
                visibility: $Advertise;
                }
            
}                                         



