@media screen and (min-width : 1024px) and (max-width : 2500px){

    /*Importation des fichiers styles, variables et mixins*/

    @import '../Footer';
    @import '../Var&Mixins.scss';
    

    /*Général*/
    *{
        font-family: $mainFont;
        margin: 0;
        padding: 0;               
     }
    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 92% 8%;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "main"
            "Generic__Footer";
            
    }
         
       
        /*Main*/
        main{
            grid-area: main;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 11% 18% 17% 54%;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:"Head__site" 
                                "Explore"
                                "HowItWorks"
                                "Main__Article";              
            }
             /*Header*/
             #Head__site{
            grid-area: Head__site;            
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 0px 0px;                         
            grid-template-areas:"Navbar";
            min-height: 11%;           
            }
            .Navbar{
                grid-area: Navbar;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 0px 0px;
                grid-auto-flow: row;  
                position: relative;
            }                          
            .Navbar__Title{
                display: grid;
                grid-area: 1/1/2/6;
                grid-template-columns: repeat(20, 1fr);
                justify-self: center;
                align-self: center;                                         
                & img{
                    grid-area: 1/9/2/11;                  
                }                                             
                }        
            .Navbar__GeoLoc{
                display: grid;
                grid-template-columns: repeat(20, 1fr);
                grid-area: 2/1/3/6;                
                background-color: $geolocColor;              
                padding: 15.5px 0;                                              
                &--sample{
                    font-weight: $mainFontW500;
                    font-size: $mainFontS16;
                    grid-area: 2/10/2/13;                                    
                    }
                    & i{
                    grid-area: 2/9/2/10;
                    justify-self: center;
                    }           
                }        
        /* Explore__section*/
        #Explore{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr ;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:"C-Explore__Site";            
            grid-area: Explore;
            min-height: 239px;
            background-color: $bodyColor;
            padding-top: 2%;
            justify-items: center;
            }                                   
            .C-Explore__Site{
                display: grid;
                grid-template-columns: repeat(2, 1fr) 0.5fr 0.5fr 0.5fr repeat(2, 1fr);
                grid-template-rows:  33% 33% 50px;
                width: 100%;
                              
                grid-area: C-Explore__Site;                  
                    &--title{
                        grid-area: 1/1/2/8;
                        @include mains__title($size:$mainFontS40);                    
                        text-align: center;
                        max-width: 100%;
                        margin: 0;
                        }
                    &--text{
                        grid-area: 2/1/3/8;
                        font-size: $mainFontS18;
                        font-weight: $mainFontW300;
                        min-width: 315px;
                        margin: 0px;
                        text-align: center;
                        }
                    &--Btn{
                        grid-area: 3/3/4/6;
                        max-width: 77%;
                        min-width: 65%;
                        justify-self: center; 
                        @include mains__Btn--Rounded;                                              
                        font-size: $mainFontS16;
                            &:hover{
                            @include mains__Btn--RoundedLighter();
                            }                                                                   
                        }                    
                    }                                              
        /*How It Works Section*/
        #HowItWorks{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr ;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:"C-HowItWorks__Container";            
            grid-area: HowItWorks;
            padding: 40px 20px 65px 0;
            width: 100%;
            min-height: 229px;
            }       
                                         
                    .C-HowItWorks__Container{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: 0.5fr 1fr 0.5fr ;
                        gap: 0px 0px;                                                         
                        grid-area: C-HowItWorks__Container;
                        padding: 0 10.85% 0 12.5%;                                                    
                        &--title{
                            display: grid;
                            align-items: center;
                            padding-left: 6%;
                            grid-area: 1/1/2/4;
                            @include mains__title();                                                        
                        }                                                           
                        } 
                    .C-HowItWorks__Step{
                        grid-area: 2/1/3/4;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr) ;
                        grid-template-rows: 0.5fr;
                        gap: 0;
                        grid-auto-flow: row;
                        grid-template-areas:"Step1 Step2 Step3";                        
                                                        
                        }                              
                    .C-HowItWorks__BlockStep{
                        display: grid;
                        grid-template-columns: 0.5fr 1fr 1fr 1fr;
                        grid-template-rows: 1fr;
                        grid-template-areas:"NumberContainer Btn Btn Btn";
                        position: relative;
                        
                                                    
                        &--NumberContainer{
                            grid-area: NumberContainer;
                            position: relative;
                            top: -27%;
                            right: -30%;                            
                            }                
                        &--Nbr{
                            @include Display-Step($position: absolute);                   
                            @include Position-Step( $Postop: 62%, $PosRight: 3%);
                            @include Step-Style();                          
                            }                               
                        &--Btn{
                            grid-area: Btn; 
                            @include HowItWorksBTN($justifyC:normal, $alignC:unset, $flow: nowrap);                                                                               
                            font-size: $mainFontS16;                                                           
                            }
                        &--Btn i{ 
                            display: flex;                                                                                                   
                            margin: auto 15px auto 25px;
                            color: #7e7e7e;                                                                    
                            }
                        &--Btn .fa-store{
                            color: $BtnBckColor1;
                            }
                        }
                    .C-HowItWorks__BlockStep:nth-of-type(1){
                        grid-area: Step1;
                    }
                    .C-HowItWorks__BlockStep:nth-of-type(2){
                        grid-area: Step2;
                    }
                    .C-HowItWorks__BlockStep:nth-of-type(3){
                        grid-area: Step3;
                    }
        /*Main-Article, restaurant lien et carte de présentation*/
            #Main__Article{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-template-areas: "Cards__Container";                               
                background-color: $bodyColor;
                width: $main-Width;
                min-height: 668px;
                }                  
                .Cards__Container{
                grid-area: Cards__Container;
                display: grid;
                grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr; 
                grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr;
                grid-template-areas: 
                    ". Cards__Container--title Cards__Container--title Cards__Container--title Cards__Container--title"
                    " . link1 . link2 ."
                    ". . . . ."
                    ". link3 . link4 ."
                    ". . . . .";                            
                height: 82%;
                width: 75%;                                
                box-sizing: $main-Bsizing;                                                            
                position: relative;
                justify-items: center;
                justify-self: center;                               
                &--title {
                    grid-area: Cards__Container--title;                                                                       
                    font-size: $mainFontS24;
                    font-weight: $mainFontW700;
                    align-self: center;
                    justify-self: start;                                                            
                    position: absolute; 
                    left: -11%;                                                                                                                     
                    }
                }
            .Restaurant__link{
                display: grid;
                grid-template-columns: repeat(3, 1fr); 
                grid-template-rows: 0.5fr 1fr 0.5fr;                                                  
                border-radius: 15px;                
                text-decoration: none;                                                              
                height: 251px;
                width: 160%;
                max-width: 490px;
                box-sizing: border-box;               
                }                          
            .Restaurant__link:nth-of-type(1){
                grid-area: link1;                
                position: absolute;
                top: -35%;
                left: -35%;
                }
            .Restaurant__link:nth-of-type(2){
                grid-area: link2;                
                position: absolute;
                top: -35%;
                right: -62%;
                                                                                                                   
                }          
            .Restaurant__link:nth-of-type(3){
                grid-area: link3;
                position: absolute;
                left: -35%;                                                                                                                                                   
                }          
            .Restaurant__link:nth-of-type(4){
                grid-area: link4;               
                position: absolute;
                right: -62%;              
                                                                                                                                        
                }                                      
            .Card__Box{
                display: grid;
                grid-area: 1/1/4/4;                                                                              
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(10, 1fr);                                                  
                border-radius: 15px;
                position: relative;                                        
                &--IMG{
                    grid-area: 1/1/7/11;
                    clip-path: $cutoutIMG;
                    box-sizing: border-box;
                    object-fit: cover;
                    width: 100%;
                    max-height: 231px;                                                            
                    }
                &--new{                    
                    grid-area: 4/9/5/11;
                    @include BoxNew--color;
                    @include BoxNew--Size($Padding: 9px 0);
                    @include BoxNew--Fontsize;
                    @include BoxNew--position($display:grid, $Alignitems: normal);
                    position: absolute;
                    top: -28%;
                    }
                 
                }                                            
            .Information__Box{
                    display: grid;
                    grid-area: 10/1/11/11;
                    grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr; 
                    grid-template-rows: 0.5fr 1fr 0.5fr;                                        
                    background-color: $InfoBoxBCkcolor;
                    border-radius: 0 0 15px 15px;
                    color: $BlackFont;
                    position: absolute;
                    width: 100%;
                    box-sizing: border-box;
                    max-height: 77px;
                    padding-right: 5%;                                                                                                                                                                                                                                                                      
                }              
                                                     
                .bi-heart{
                display: grid;
                grid-area: 2/7/3/8;
                @include HeartSize;            
                cursor: pointer;    
                font-weight: 100;                
                color:black;                               
                    &:hover::before{
                        font-family: "bootstrap-icons";
                        content:"\F415";
                        background: $HeartGradient; 
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }                                                                                            
                }                
                
                  //:hover transition d'affichage du bas vers le haut l'état initial du coeur est 
                  //rempli l'apparition se fait par une animation partant du bas et allant vers le haut au survol et au click.
                  //créer une mixin pour gérer l'affichage du coeur.
                  //Pour faire en sorte que le coeur change au click dans la checkbox utiliser les combinateurs d'adjacence avec la pseudo classe :active
                  //faire en sorte que la taille de l'input englobe le coeur( en forme de cercle)                                                      
                                                                                                                                                                                                                                                                                           
            .Description__text{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                grid-area: 2/1/3/8;                
                gap: 5px;
                padding-left: 4%;                    
                &--name{
                    grid-area: 1/1/1/2;
                    margin: 0;
                    font-size: $mainFontS18;
                    font-weight: $mainFontW700;
                    }
                &--district{
                    grid-area: 2/1/3/2;
                    margin: 0;
                    font-size: $mainFontS17;
                    font-weight: $mainFontW300;
                    }
                }                                                                           
            .Cards__Container .Restaurant__link:nth-child(4) .Card__Box--new:first-child {
                visibility: $Advertise;
                }            
            .Cards__Container .Restaurant__link:nth-child(5) .Card__Box--new:first-child {
                visibility: $Advertise;
                }
            
}                                         



