@media screen and (min-width : 1024px) and (max-width : 2500px){

    /*Importation des fichiers styles, variables et mixins*/

    @import '../Footer';
    @import '../Var&Mixins.scss';
    @import '../Menu__Animations&Transition.scss';
   

    /*Général*/
    *{ 
    font-family: $mainFont;
    }
           


/*body & Main-container*/
body {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #1fe0;
    margin:0;
    @include Size__Box();            
    }
    .Main-Container{
       display: grid;
       grid-template-columns: 1fr;              
       margin: 0;
    }     

    /*header et navbar styles*/
    #Head__site{        
        @include HeaderPosition;
        width: 100%;
        min-height: 96px;  

    }
    .Navbar{
    @include NavbarStyle($flow:row, $justifyC: normal, $Alignitems:center);
        min-width: 100%;
        width: 100%;
        height: 100%;        
        padding: 12.5px 1%;
        margin: 0;        
    }
    .Navbar__Title{
        display: flex;
        margin-left: 45%;
        &--Logo{
            width:100%;
        }      
    
    }    
     .Navbar__Link{
        display: flex;
        font-size: x-large;
        width: 30px;
        height: 30px;
        text-decoration: none;
        align-items: center;              
        & i{        
                width: 17px;
                color: $ArrowLcolor;
                margin-left: 17px;    
            }       
    }
     /*Main et Menu et card menu*/
     .Main-Container__Menu{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        background-color: $BtnFontColor;

     }
     main{
        display: grid; 
        grid-template-columns: 0.5fr 3fr 0.5fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr; 
        gap: 0px 0px; 
        grid-area: 2 / 1 / 4 / 2; 
        background-color: $BtnFontColor;
        width: 100%;
    }      
    .Background__Menu{
        grid-area: 1 / 1 / 5 / 4;
        @include Size__Box;        
        width: 100%;
        height: 373px;
        background-size: cover;
        
        &--IMG{
            @include BckImgMenu($Height:100%);         
        }
    }
    #Main__Article{
        grid-area: 4 / 2 / 15 / 3;         
        border-radius: 40px 40px 0 0;
        background-color: $bodyColor;
        height: 105%;
    }
    .Restaurant__Presentation{
        @include Restaurant__present($justifyC:center);
        position: relative;
        gap: 24px;     
        &--title{
            font-family: $brandFont;
            font-size: $mainFontS28;
            margin: 31px 0 0 0;            
        }
                  
    }     
    .Menu{
        @include Display__Box();
        @include Size__Box($MinW: unset);
        padding: 0 20%;
        width: 100%;
        gap:40px;
    }
    .Menu__Starter, .Menu__Maincourse, .Menu__Dessert{
        @include Display__Box($Alignitems: unset);
        @include Size__Box();
        gap: 12px;
        width: 100%;
        &--title{
            @include Menu__Title();
            margin: 0;                                
        }
        &--title::after{
            content:"";
            display: block;
            margin-top: 5px;
            width: 40px;
            height: 3px;
            background-color:$NewCardColor;
        }        
    }
    .Menu__Btn{
        @include Display__Box($flow: row);
        width: 100%; 
        border: none;
        background-color: $BtnFontColor;
        border-radius: 15px;
        padding: 13.5px 15px;
        box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
        &--price{
            align-self: end;
            font-weight: $mainFontW700;
            font-size: $mainFontS15;
        }         
    }
    .Menu__Select{
        @include Display__Box($flow: column wrap, $Alignitems: flex-start);
        width: 100%;
        max-height: 69px;
        gap: 5px;        
        &--dishe{
            font-size: $mainFontS18;
            font-weight: $mainFontW500;
            margin: 0;
        }
        &--info{
            font-weight: $mainFontW300;
            font-size: $mainFontS15;
            align-self: flex-start;
            margin: 0;
        }       
    }
    .Menu__CommandBTN{
        @include mains__Btn--Rounded();
        width: 34%;
        &:hover{
        @include mains__Btn--RoundedLighter();
        }
    }
    #Generic__Footer{
        grid-area: 3 / 1 / 4 / 2;
    }
}