@charset "UTF-8";
/*Importation des fichiers styles, variables et mixins*/
/*Variables*/
/*color*/
/*Font*/
/*Sizing Width Height Box-Sizing*/
/*rendre visible ou caché un élément*/
/*Mixins générales*/
/*Mixins Navbar*/
/*mixins Section HowItWorks*/
/*mixins section cards restaurant*/
/*Mixin page menu*/
/*Footer générique ohmyfood*/
#Generic__Footer {
  display: flex;
  flex-flow: column;
  justify-content: unset;
  align-items: flex-start;
  min-width: 320px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 22px 25px;
  width: 100%;
  background-color: #353535;
  color: #FFFFFF;
}

.Container__List {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: unset;
  gap: 16px;
}
.Container__List--logo {
  width: 139px;
  height: 27px;
}

.List__Info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: unset;
  align-items: unset;
  font-weight: 500;
  list-style: none;
  gap: 7px;
  padding: 0;
  margin: 0;
}
.List__Info--suggest {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.List__Info--partner {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.List__Info--legal {
  font-weight: 400;
}
.List__Info--link {
  text-decoration: none;
  color: #FFFFFF;
}

/*Variables*/
/*color*/
/*Font*/
/*Sizing Width Height Box-Sizing*/
/*rendre visible ou caché un élément*/
/*Mixins générales*/
/*Mixins Navbar*/
/*mixins Section HowItWorks*/
/*mixins section cards restaurant*/
/*Mixin page menu*/
/*Général*/
* {
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 780px) {
  /*BODY*/
  body {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f6f6f6;
    margin: 0;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
  }
  /*Main-Container*/
  .Main-Container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
  }
  /*Header*/
  #Head__site {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
  }
  .Navbar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }
  .Navbar__Title {
    padding: 14px 89px 13px 89px;
  }
  .Navbar__GeoLoc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #EAEAEA;
    gap: 17px;
    width: 100%;
    padding: 15.5px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .Navbar__GeoLoc--sample {
    font-weight: 500;
    font-size: 1rem;
  }
  /*Main*/
  main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
  }
  /* Explore__section*/
  #Explore {
    display: flex;
    flex-flow: column nowrap;
    justify-content: normal;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #f6f6f6;
    padding: 35px 15px 55px 15px;
    width: 100%;
  }
  #Explore .C-Explore__Container {
    height: 100%;
  }
  #Explore .C-Explore__Site {
    display: flex;
    flex-flow: column nowrap;
    justify-content: normal;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    gap: 20px;
  }
  #Explore .C-Explore__Site--title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    max-width: 100%;
    margin: 0;
  }
  #Explore .C-Explore__Site--text {
    font-size: 1.125rem;
    font-weight: 300;
    min-width: 315px;
    margin: 0px;
    text-align: center;
  }
  #Explore .C-Explore__Site--Btn {
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 25px;
    background: linear-gradient(to top, #9356DC, #FF79DA);
    padding: 13px 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border: none;
  }
  /*How It Works Section*/
  #HowItWorks {
    display: flex;
    flex-flow: column nowrap;
    justify-content: unset;
    align-items: unset;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 40px 20px 65px 20px;
    width: 100%;
  }
  .C-HowItWorks {
    display: flex;
    flex-flow: column nowrap;
    justify-content: unset;
    align-items: unset;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    height: 100%;
  }
  .C-HowItWorks__Container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: unset;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
  }
  .C-HowItWorks__Container--title {
    font-size: 1.5rem;
    font-weight: 700;
    align-self: flex-start;
    margin: 0;
  }
  .C-HowItWorks__BlockStep--NumberContainer {
    display: flex;
  }
  .C-HowItWorks__BlockStep--Nbr {
    display: flex;
    flex-flow: wrap;
    position: relative;
    align-content: center;
    justify-content: center;
    z-index: 2;
    top: 55px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #9356DC;
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 500;
  }
  .C-HowItWorks__BlockStep--Btn {
    display: flex;
    flex-flow: wrap;
    position: relative;
    align-content: unset;
    justify-content: unset;
    margin: 5px;
    padding: 30px 10px 30px 0px;
    width: 100%;
    font-weight: 500;
    background-color: #f6f6f6;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    font-size: 1rem;
  }
  .C-HowItWorks__BlockStep--Btn i {
    display: flex;
    margin: auto 15px auto 25px;
    color: #7e7e7e;
  }
  .C-HowItWorks__BlockStep--Btn .fa-store {
    color: #9356DC;
  }
  /*Main-Article, restaurant lien et carte de présentation*/
  #Main__Article {
    display: flex;
    flex-flow: column;
    background-color: #f6f6f6;
    width: 100%;
  }
  .Show__Restaurant {
    display: flex;
    flex-flow: column;
    padding: 55px 18px 0px 17px;
  }
  .Cards__Container {
    display: flex;
    flex-flow: column;
  }
  .Cards__Container--title {
    font-size: 1.5rem;
    font-weight: 700;
    align-self: flex-start;
    padding-bottom: 2px;
    margin: 0;
  }
  .Restaurant__cards {
    display: flex;
    flex-flow: column;
    min-height: 251px;
    border-radius: 15px;
    position: relative;
  }
  .Restaurant__cards--link {
    display: flex;
    flex-flow: column;
    text-decoration: none;
    border-radius: 15px;
  }
  .Card__Box {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
  }
  .Picture__Box {
    display: flex;
    flex-flow: column;
    height: 69%;
    box-sizing: border-box;
    position: relative;
    top: -20%;
  }
  .Picture__Box--new {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    left: 240px;
    top: 90px;
    background-color: #99E2D0;
    color: #008766;
    width: 80px;
    height: 29px;
    padding: 5px 0px;
    border-radius: 2px;
    font-size: 0.875rem;
    font-weight: 500;
  }
  .Picture__Box--IMG {
    display: flex;
    -webkit-clip-path: xywh(0% 23% 100% 85% round 15px 15px 0% 0%);
            clip-path: xywh(0% 23% 100% 85% round 15px 15px 0% 0%);
    -o-object-fit: cover;
       object-fit: cover;
    box-sizing: border-box;
  }
  .Cards__Container .Restaurant__cards:nth-child(2) {
    z-index: 1;
  }
  .Cards__Container .Restaurant__cards:nth-child(3) {
    z-index: 2;
    top: -5%;
  }
  .Cards__Container .Restaurant__cards:nth-child(4) {
    z-index: 3;
    top: -10%;
  }
  .Cards__Container .Restaurant__cards:nth-child(5) {
    z-index: 4;
    top: -15%;
  }
  .Cards__Container .Restaurant__cards:nth-child(4) .Picture__Box--new:first-child {
    visibility: hidden;
  }
  .Cards__Container .Restaurant__cards:nth-child(5) .Picture__Box--new:first-child {
    visibility: hidden;
  }
  .Restaurant__info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px 25px 15px 10px;
    background-color: #FFFFFF;
    position: relative;
    top: -17%;
  }
  .Restaurant__info i {
    display: flex;
    align-self: center;
    position: relative;
    height: 21px;
    width: 22px;
    left: 10px;
    font-size: larger;
    bottom: 5px;
    color: black;
  }
  .Information__text {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
  }
  .Information__text--name {
    font-weight: 700;
    font-size: 1.125rem;
    color: black;
    margin: 0;
  }
  .Information__text--district {
    font-weight: 300;
    font-size: 1.0625rem;
    color: black;
    margin: 0;
  }
}/*# sourceMappingURL=Accueil-Mobile.css.map */