       
/*Importation des fichiers styles, variables et mixins*/

    @import '../Footer';
    @import '../Var&Mixins.scss';

/*Général*/
    *{
        font-family: $mainFont;        
    }

@media screen and (min-width : 320px) and (max-width : 780px){
/*BODY*/
    body {
        display: grid;
        grid-template-columns: 1fr;
        background-color: $bodyColor;
        margin:0;
        @include Size__Box();            
        }    
        /*Main-Container*/
        .Main-Container{
            @include Display__Box();
            @include Size__Box();
        } 
        /*Header*/
        
        #Head__site{
            @include HeaderPosition();            
            @include Size__Box();
            height: 5%;
            width: 100%;
        }
        .Navbar{
            @include NavbarStyle();
            padding-bottom: 9px;
        }                    
            .Navbar__Title{
                padding: 14px 89px 13px 89px;
            }        
            .Navbar__GeoLoc{
                @include NavbarStyle($flow: row wrap);                
                background-color: $geolocColor;
                gap: 17px;
                width: 100%;
                padding: 15.5px 0;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                &--sample{
                    font-weight: $mainFontW500;
                    font-size: $mainFontS16;
                }           
            }
        
        /*Main*/
        main{
            @include Display__Box();
            @include Size__Box();
            background-color: $BtnFontColor;
            height: 87%;
        }
            /* Explore__section*/
        #Explore{
            @include Display__Box($justifyC: unset);
            @include Size__Box();
            background-color: $bodyColor;
            padding: 30px 15px 55px 15px;
            height: 15%;
            .C-Explore__Container{
                height: 100%;
            }
            .C-Explore__Site{
                @include Display__Box();
                @include Size__Box();
                gap:20px;
                height: 100%;   
                &--title{
                    @include mains__title();                    
                    text-align: center;
                    max-width: 100%;
                    margin: 0;
                }
                &--text{
                    font-size: $mainFontS18;
                    font-weight: $mainFontW300;
                    min-width: 315px;
                    margin: 0px;
                    text-align: center;
                }
                &--Btn{
                    @include mains__Btn--Rounded();                        
                }            
            }
        }
        /*How It Works Section*/
        #HowItWorks{
            @include Display__Box($justifyC: unset, $Alignitems:unset);
            @include Size__Box();
            padding: 40px 20px 65px 20px;
            height: 22%;
        }        
                .C-HowItWorks{
                    @include Display__Box($justifyC: unset, $Alignitems:unset);
                    @include Size__Box();                    
                    height: 100%;
                }                         
                        .C-HowItWorks__Container{
                            @include Display__Box($Alignitems:unset);
                            @include Size__Box();
                            
                            &--title{
                                @include mains__title();
                                align-self: flex-start;
                                margin: 0;
                            }                                                           
                        }                               
                        .C-HowItWorks__BlockStep{
                            &--NumberContainer{
                                display: flex;
                                                    
                            }                
                            &--Nbr{
                                @include Display-Step();                   
                                @include Position-Step();
                                @include Step-Style();                          
                            }                               
                            &--Btn{ 
                                @include HowItWorksBTN($justify:unset, $align:unset );                                                                               
                                font-size: $mainFontS16;
                            }
                            &--Btn i{ 
                                display: flex;                                                                                                   
                                margin: auto 15px auto 25px;
                                color: #7e7e7e;                                                                    
                            }
                            &--Btn .fa-store{
                                color: $BtnBckColor1;
                            }
                        }    
                                            
        
            /*Main-Article, restaurant lien et carte de présentation*/
            #Main__Article{
                @include Display__Box($justifyC: unset, $Alignitems: unset);
                @include Size__Box();
                background-color: $bodyColor;
                padding: 55px 18px 60px 17px;
                width: 100%;
                height: 62%;
            }
            .Show__Restaurant{
                @include Display__Box($justifyC: unset);
                @include Size__Box();
                height: 100%;                
                           
            }
            .Cards__Container{
                @include Display__Box($justifyC: unset, $Alignitems:unset);
                @include Size__Box();
                max-height: 100%;
                border-radius: 15px;
                gap:5%;
                
                
                &--title {
                    font-size: $mainFontS24;
                    font-weight: $mainFontW700;
                    align-self: flex-start;                    
                    padding-bottom: 2px;
                    margin:0;
                    height: 5%;
                }                    
            }
            .Restaurant__cards{
                @include Display__Box();
                @include Size__Box();
                height: 22.5%;                
                border-radius: 15px;
                &--link{
                    @include Display__Box($justifyC: flex-end, $Alignitems: unset);
                    @include Size__Box();                
                    height: 100%;
                    text-decoration: none;
                    border-radius: 15px;
                }                             
            }                                  
            .Picture__Box{
                @include Display__Box($Alignitems:unset, $justifyC: flex-end);
                @include Size__Box();                                 
                    &--new{
                        @include BoxNew--position;
                        @include BoxNew--color;
                        @include BoxNew--Size;
                        @include BoxNew--Fontsize;                         
                        }
                    &--IMG{
                        display: flex;                                    
                        clip-path: $cutoutIMG;
                        object-fit: cover;
                        }
                }
                .Cards__Container .Restaurant__cards:nth-child(4) .Picture__Box--new:first-child {
                    visibility: $Advertise;
                  }
                  .Cards__Container .Restaurant__cards:nth-child(5) .Picture__Box--new:first-child {
                    visibility: $Advertise;
                  }      
                    .Restaurant__info{
                        display: flex;
                        flex-flow: row;
                        justify-content: space-between;
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px ;
                        padding: 10px 25px 10px 10px;
                        background-color: $BtnFontColor;                    
                        height: 30%;
                        & i{
                            display: flex;
                            align-self: center;
                            position: relative;
                            height: 21px;
                            width: 22px;
                            left: 10px;
                            font-size: larger;                                                
                            bottom: 5px;
                            color: $BlackFont;                
                        }
                        .Information__text{
                            display: flex;
                            flex-flow: column wrap; 
                            gap:5px;
                            &--name{
                                font-weight: $mainFontW700;
                                font-size: $mainFontS18;
                                color: $BlackFont;
                                margin:0;
                            }
                            &--district{
                                font-weight: $mainFontW300;
                                font-size: $mainFontS17;
                                color: $BlackFont;
                                margin:0;
                            }                     
                        }             
                    }
                    

}