@import '../Footer';
@import '../Var&Mixins.scss';
@import '../Menu__Animations&Transition.scss';

@media screen and (min-width : 320px) and (max-width : 780px){

/*Général*/
*{
    font-family: $mainFont;        
}

/*body & Main-container*/
body {
    grid-template-columns: 1fr;
    background-color: #1fe0;
    margin:0;
    @include Size__Box();            
    }   

    /*header et navbar styles*/
    #Head__site{        
        @include HeaderPosition();                            
        @include Size__Box();
        width: 100%;  

    }
    .Navbar{
    @include NavbarStyle($flow:row, $justifyC: normal, $Alignitems:normal);
        min-width: 320px;
        width: 100%;
        max-width: 100%;
        padding: 12.5px 9% 12.5px 1%;
        margin: 0;
        gap: 70px;
    }
    .Navbar__Title{
        display: flex;
        &--Logo{
            width:100%;
        }      
    
    }    
     .Navbar__Link{
        display: flex;
        font-size: x-large;
        width: 30px;
        height: 30px;
        text-decoration: none;
        align-items: center;              
        & i{        
                width: 17px;
                color: $ArrowLcolor;
                margin-left: 17px;    
            }       
    }
     /*Main et Menu et card menu*/
     main{
        background-color: $bodyColor;
        width: 100%;
    }      
    .Background__Menu{
        @include Display__Box;
        @include Size__Box;        
        width: 100%px;
        height: 275px;
        background-size: cover;
        z-index: -1;
        &--IMG{
            @include BckImgMenu();         
        }
    }
    #Main__Article{
        @include Display__Box;
        position: relative;
        top: -55px;
        padding: 0 13px;
        gap: 40px;
        border-radius: 40px 40px 0 0;
        background-color: $bodyColor;
    }
    .Restaurant__Presentation{
        @include Restaurant__present();
            &--title{
                font-family: $brandFont;
                font-size: $mainFontS28;
                margin: 31px 0 0 0;            
            }        
    }
    .bi-heart{
        @include HeartPosition;
        @include HeartSize;
        @include HeartStyle;                 
            &:hover::before{
                @include HeartHovBef;           
            }                                                                               
        }
    .Menu{
        @include Display__Box();
        @include Size__Box();
        width: 100%;
        gap:40px;
    }
    .Menu__Starter, .Menu__Maincourse, .Menu__Dessert{
        @include Display__Box($Alignitems: unset);
        @include Size__Box();
        gap: 12px;
        width: 100%;
        &--title{
            @include Menu__Title();
            margin: 0;                                
        }
        &--title::after{
            content:"";
            display: block;
            margin-top: 5px;
            width: 40px;
            height: 3px;
            background-color:$NewCardColor;
        }        
    }
    .Menu__Btn{
        @include Display__Box($flow: row, $justifyC:normal);
        position:relative;        
        width: 100%;
        height: 69px; 
        border: none;
        padding: 0;
        background-color: $BtnFontColor;
        border-radius: 15px;        
        box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
        transform: translateY(-60%);           
            &:hover::after{                
                @include GreenCheckHoverDis;
                @include GreenCheckHoverStyl;
                @include GreenCheckHoverSize;                                         
                }                    
            &--price{ 
                position:absolute;
                right: 3%;
                top: 38%;                              
                align-self: end;
                font-weight: $mainFontW700;
                font-size: $mainFontS15;
                padding: 13.5px 15px 13.5px;                   
            }                   
    }
    .Menu__Btn:hover .Menu__Btn--price{
        transition: $TransHover;
        transform: translateX(-60%);
        right: 6%;       

    }
    .Menu__Btn:hover .Menu__Select{
        width: 70%;
        transition: $TransHover;  
    }
    .Menu__Btn:hover > .Menu__Select > *{
        @include textOverflow;  
    }
    .Menu__Select{
        @include Display__Box($flow: column wrap, $Alignitems: flex-start);
        position:absolute;
        width: 100%;
        height: 100%;
        left: 2.25%;        
        gap: 5px;                          
        &--dishe{            
            font-size: $mainFontS18;
            font-weight: $mainFontW500;
            margin: 0;
            max-width: 100%;                                          
        }
        &--info{            
            font-weight: $mainFontW300;
            font-size: $mainFontS15;
            align-self: flex-start;
            margin: 0;
            max-width: 100%;                         
        }       
    }
    .Menu__CommandBTN{
        @include mains__Btn--Rounded;
        width: 50%;
        margin:auto;
        &:hover{
            @include mains__Btn--RoundedLighter;           
        }          
    }
    
}
@media screen and (min-width : 320px) and (max-width : 369px){

    .bi-heart{
        @include HeartPosition($Rightposition: 5%);
        @include HeartSize;
        @include HeartStyle;                 
            &:hover::before{
                @include HeartHovBef;           
            }                                                                               
        }
.Menu__Btn--price{
        font-size:$mainFontS13;
        &:hover{
            right: 15%;
        }
}
    .Menu__Select{
        @include Display__Box($flow: column wrap, $Alignitems: flex-start);
        width: 100%;
        gap: 5px;
        padding: 4% 0 4% 2%;
        &:hover{
            width: 70%;           
            transition: $TransHover;
            
        }                            
        &--dishe{
            font-size: $mainFontS15;
            font-weight: $mainFontW500;
            margin: 0;
            &:hover{
                @include textOverflow;                
                &.Dishe--Info-translation{
                    @include Dishe--Info-translation;
                }
            }                          
        }
        &--info{
            font-weight: $mainFontW300;
            font-size: $mainFontS13;
            align-self: flex-start;
            margin: 0;
            &:hover{
                @include textOverflow;                
                &.Dishe--Info-translation{
                    @include Dishe--Info-translation;
                }
            }                              
        }       
    }
}