@import '../Footer';
@import '../Var&Mixins.scss';

@media screen and (min-width : 320px) and (max-width : 780px){

/*Général*/
*{
    font-family: $mainFont;        
}

/*body*/
body {
    display: grid;
    grid-template-columns: 1fr;
    background-color: $bodyColor;
    margin:0;
    @include Size__Box();            
    }    

    /*header et navbar styles*/
    #Head__Site{        
        @include HeaderPosition();            
        @include Size__Box();
    }
    .Navbar{
    @include NavbarStyle($flow:row);
    gap: 40px;
    }
    .Navbar__Title{
    padding: 14px 89px 13px 49px;
    }
    .fa-solid{
        display: flex;
        align-items: baseline;
        width: 60px;
        height: 60px;
    
    }
     .Navbar__Link{
        font-weight: 500;
        width: 30px;
        height: 30px;
    }        



    
}