@charset "UTF-8";
/*Variables*/
/*color*/
/*Font*/
/*Sizing Width Height Box-Sizing Margin*/
/*rendre visible ou caché un élément*/
/*Mixins générales*/
/*Mixins Navbar*/
/*mixins Section HowItWorks*/
/*mixins section cards restaurant*/
/*Mixin page menu*/
/*Animations, Transition*/
@keyframes Heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes HeartFlat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
/*Footer générique ohmyfood*/
#Generic__Footer {
  display: flex;
  flex-flow: column;
  justify-content: normal;
  align-items: flex-start;
  min-width: 320px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 22px 25px;
  width: 100%;
  background-color: #353535;
  color: #FFFFFF;
}

.Container__List {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: unset;
  gap: 16px;
}
.Container__List--logo {
  width: 139px;
  height: 27px;
}

.List__Info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: unset;
  align-items: unset;
  font-weight: 500;
  list-style: none;
  gap: 7px;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}
.List__Info--suggest {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  color: #FFFFFF;
}
.List__Info--partner {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: #FFFFFF;
}
.List__Info--legal {
  font-weight: 400;
  color: #FFFFFF;
}
.List__Info--link {
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) and (max-width: 2500px) {
  #Generic__Footer {
    display: grid;
    align-items: end;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Container__List";
    min-height: 114px;
  }
  .Container__List {
    grid-area: Container__List;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    padding-right: 3%;
    gap: 3%;
    position: relative;
  }
  .Container__List--logo {
    display: inline-grid;
    grid-area: 1/8/1/8;
    align-self: self-start;
    position: absolute;
    top: -45%;
  }
  .List__Info {
    grid-area: 1/1/1/8;
    display: grid;
    grid-template-columns: repeat(4, 1.5fr) 0.5fr;
    grid-template-rows: 1fr;
    justify-items: end;
    justify-self: end;
  }
  .List__Info--suggest {
    display: inline-block;
    grid-area: 1/1/1/3;
    justify-self: start;
    margin-left: -18%;
  }
  .List__Info--partner {
    display: inline-block;
    grid-area: 1/2/1/4;
    justify-self: start;
    padding-left: 16%;
  }
  .List__Info--legal {
    display: inline-block;
    grid-area: 1/4/1/5;
  }
  .List__Info--contact {
    display: inline-block;
    justify-self: start;
    grid-area: 1/5/1/6;
  }
  .List__Info--contact {
    display: inline-block;
    justify-self: start;
    grid-area: 1/5/1/6;
  }
}
/*Variables*/
/*color*/
/*Font*/
/*Sizing Width Height Box-Sizing Margin*/
/*rendre visible ou caché un élément*/
/*Mixins générales*/
/*Mixins Navbar*/
/*mixins Section HowItWorks*/
/*mixins section cards restaurant*/
/*Mixin page menu*/
/*Animations, Transition*/
@keyframes Heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes HeartFlat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (min-width: 320px) and (max-width: 780px) {
  /*Général*/
  * {
    font-family: "Roboto", sans-serif;
  }
  /*body & Main-container*/
  body {
    grid-template-columns: 1fr;
    background-color: rgba(17, 255, 238, 0);
    margin: 0;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
  }
  /*header et navbar styles*/
  #Head__site {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
  }
  .Navbar {
    display: flex;
    flex-flow: row;
    justify-content: normal;
    align-items: normal;
    box-sizing: border-box;
    min-width: 320px;
    width: 100%;
    max-width: 100%;
    padding: 12.5px 9% 12.5px 1%;
    margin: 0;
    gap: 70px;
  }
  .Navbar__Title {
    display: flex;
  }
  .Navbar__Title--Logo {
    width: 100%;
  }
  .Navbar__Link {
    display: flex;
    font-size: x-large;
    width: 30px;
    height: 30px;
    text-decoration: none;
    align-items: center;
  }
  .Navbar__Link i {
    width: 17px;
    color: #353535;
    margin-left: 17px;
  }
  /*Main et Menu et card menu*/
  main {
    background-color: #f6f6f6;
    width: 100%;
  }
  .Background__Menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    width: 100% px;
    height: 275px;
    background-size: cover;
    z-index: -1;
  }
  .Background__Menu--IMG {
    min-width: 320px;
    max-width: 100%;
    width: 100%;
    height: 275px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #Main__Article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -55px;
    padding: 0 13px;
    gap: 40px;
    border-radius: 40px 40px 0 0;
    background-color: #f6f6f6;
  }
  .Restaurant__Presentation {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 40px 40px 0 0;
  }
  .Restaurant__Presentation--title {
    font-family: "Shrikhand", sans-serif;
    font-size: 1.75rem;
    margin: 31px 0 0 0;
  }
  .Heartbox {
    display: flex;
    position: relative;
    margin-top: 31px;
    width: 31px;
    height: 31px;
    animation: Heartbeat 0.3s ease-in-out 2 0.5s;
  }
  .Heartbox .bi-heart {
    display: flex;
    position: absolute;
    top: 3%;
    right: 5%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
    color: black;
    transition: all 0.5s cubic-bezier(0.7, 0.04, 0.71, 0.36);
  }
  .Heartbox:hover > .bi-heart {
    opacity: 0;
  }
  .Heartbox::after {
    font-family: "bootstrap-icons";
    content: "\f415";
    background: linear-gradient(to top, #ff79da 40%, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.7, 0.04, 0.71, 0.36);
  }
  .Heartbox:hover::after {
    font-family: "bootstrap-icons";
    content: "\f415";
    background: linear-gradient(to top, #ff79da 40%, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    animation: Heartbeat 0.3s ease-in-out 2 0.5s;
  }
  .Menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    gap: 40px;
  }
  .Menu__Starter, .Menu__Maincourse, .Menu__Dessert {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: unset;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    gap: 12px;
    width: 100%;
  }
  .Menu__Starter--title, .Menu__Maincourse--title, .Menu__Dessert--title {
    align-self: self-start;
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
  }
  .Menu__Starter--title::after, .Menu__Maincourse--title::after, .Menu__Dessert--title::after {
    content: "";
    display: block;
    margin-top: 5px;
    width: 40px;
    height: 3px;
    background-color: #99E2D0;
  }
  .Menu__Btn {
    display: flex;
    flex-flow: row;
    justify-content: normal;
    align-items: center;
    position: relative;
    width: 100%;
    height: 69px;
    border: none;
    padding: 0;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
  }
  .Menu__Btn::after {
    position: absolute;
    right: 0;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: "bootstrap-icons";
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    font-size: 20px;
    content: "\f26a";
    color: white;
    background-color: #99E2D0;
    width: 0px;
    height: 69px;
    margin: auto;
    transform: translateX(0) left;
    transition: 0.9s cubic-bezier(0.97, 0.1, 0.45, 0.7);
    opacity: 0;
  }
  .Menu__Btn:hover::after {
    position: absolute;
    right: 0;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 59px;
    height: 69px;
    margin: auto;
    transform: translateX(-60%) right;
    transition: 0.9s cubic-bezier(0.97, 0.1, 0.45, 0.7);
    opacity: 1;
  }
  .Menu__Btn--price {
    position: absolute;
    right: 3%;
    top: 38%;
    align-self: end;
    font-weight: 700;
    font-size: 0.9375rem;
    padding: 13.5px 15px 13.5px;
    transform: translateX(0%);
    transition: 0.9s cubic-bezier(0.97, 0.1, 0.45, 0.7);
  }
  .Menu__Btn:hover .Menu__Btn--price {
    transform: translateX(-60%);
    transition: 0.9s cubic-bezier(0.97, 0.1, 0.45, 0.7);
    right: 6%;
  }
  .Menu__Btn:hover .Menu__Select {
    width: 70%;
    transition: 0.9s cubic-bezier(0.97, 0.1, 0.45, 0.7);
  }
  .Menu__Btn:hover > .Menu__Select > * {
    white-space: Nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .Menu__Select {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 2.25%;
    gap: 5px;
    transition: 0.9s cubic-bezier(0.97, 0.1, 0.45, 0.7) 0.3s;
  }
  .Menu__Select--dishe {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0;
    max-width: 100%;
    white-space: Nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .Menu__Select--info {
    font-weight: 300;
    font-size: 0.9375rem;
    align-self: flex-start;
    margin: 0;
    max-width: 100%;
    white-space: Nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .Menu__CommandBTN {
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 25px;
    background: linear-gradient(to top, #9356dc 40%, #ff79da);
    padding: 13px 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    border: none;
    transition: right 0.4s ease-in-out;
    width: 50%;
    margin: auto;
  }
  .Menu__CommandBTN:hover {
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 25px;
    background: linear-gradient(to top, #a16be0 40%, #ff7edb);
    padding: 13px 16px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    border: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 369px) {
  .bi-heart {
    display: flex;
    position: absolute;
    top: 3%;
    right: 5%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
    color: black;
  }
  .bi-heart:hover::before {
    font-family: "bootstrap-icons";
    content: "\f415";
    background: linear-gradient(to top, #ff79da 40%, #9356dc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .Menu__Btn--price {
    font-size: 0.8125rem;
  }
  .Menu__Btn--price:hover {
    right: 15%;
  }
  .Menu__Select {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 5px;
    padding: 4% 0 4% 2%;
  }
  .Menu__Select:hover {
    width: 70%;
    transition: right 0.4s ease-in-out;
  }
  .Menu__Select--dishe {
    font-size: 0.9375rem;
    font-weight: 500;
    margin: 0;
  }
  .Menu__Select--dishe:hover {
    white-space: Nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .Menu__Select--dishe:hover.Dishe--Info-translation {
    width: 70%;
    transition: right 0.4s ease-in-out;
  }
  .Menu__Select--info {
    font-weight: 300;
    font-size: 0.8125rem;
    align-self: flex-start;
    margin: 0;
  }
  .Menu__Select--info:hover {
    white-space: Nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .Menu__Select--info:hover.Dishe--Info-translation {
    width: 70%;
    transition: right 0.4s ease-in-out;
  }
}/*# sourceMappingURL=Restaurant-Mobile.css.map */